@import "../../variables";
&.fsc-simple-calendar-configuration{
  .window-content{
    //Configuration Styling
    .fsc-configuration-wrapper {
      .tabs {
        .fsc-heading {
          border-bottom-color: $gray-700;
        }

        .fsc-tab-section {
          &.fsc-stripe {
            background-color: #ffffff;
            color: #000000;
          }

          .fsc-calendar-selector {
            ul {
              box-shadow: 1px 1px 5px #000000;

              li {
                background-color: $gray-100;
                border-color: #000000;

                &.fsc-active, &:hover {
                  background-color: $gray-300;
                }

                &.fsc-new-calendar {
                  color: #2f581d;
                }
              }
            }
          }
        }

        .fsc-item {
          border-color: $gray-700;
          color: $fontColor;

          &.fsc-active, &.active, &:hover {
            background-color: $secondary;
            color: $fontColor;
          }
        }
      }

      .fsc-tab-wrapper {
        .fsc-warning {
          background-color: $secondary-A500;
          border-color: $secondary;
          color: $fontColor;
        }

        .fsc-section {
          h3 {
            color: $primary-A200;
          }
        }

        .fsc-f-table {
          border-color: #9e9c9c;
          background-color: $gray-200;
          color: #000000;

          .fsc-row {
            &.fsc-head {
              border-color: #9e9c9c;
            }

            &:nth-child(even) {
              background-color: rgba($gray-500, 0.1);
            }
          }
        }

        .fsc-import-export {
          .fsc-importing {
            .fsc-progress {
              background-color: $gray-700;
              border-color: $gray-500;

              .fsc-progress-bar {
                background-color: $tertiary-300;
              }
            }
          }
        }

        .fsc-quick-setup {
          .fsc-predefined-list {
            .fsc-predefined-calendar {
              color: #603382;
              border-color: #603382;
              box-shadow: inset 0 0 5px #603382;

              &.fsc-selected, &:hover {
                border-color: #cd9cf3;
                background-color: #cd9cf3;
              }
            }
          }
        }

        .fsc-permissions {
          .fsc-table-header {
            border-color: $gray-600;
          }
        }

        .fsc-about {
          .fsc-row {
            .fsc-card {
              border-color: #9e9c9c;
              background-color: $gray-200;
            }
          }
        }
      }
    }
  }
}
