@import "../../variables";
.window-content{
  form{
    //Form Groups
    .fsc-tab-wrapper{
      .form-group {
        border-color: #9e9c9c;
        background-color: $gray-200;
        &.fsc-disabled{
          &:hover{
            background-color: $gray-200;
          }
        }
        label{
          text-shadow: unset;
          color: #000000;
        }
        input,select{
          background-color: $gray-400;
          color: $fontColor;
        }
        &:hover {
          background-color: $gray-300;
        }
        .notes {
          color: $gray-800;
        }
      }
    }

    .fsc-compact-form-group{
      background-color: rgba(0, 0, 0, 0.05);

      > input, > select, > button {
        background-color: unset !important;
      }
      > .fsc-date-selector{
        > input{
          background-color: unset !important;
        }
      }
      > .fsc-multiselect{
        > button{
          background-color: unset !important;
        }
      }
      option{
        background-color: var(--color-bg-option) !important;
      }
      button{
        color: $fontColor;
      }
      label{
        color: #384582;
      }
      .file-picker{
        cursor: pointer;
        background-color: #384582 !important;
        border-color: #384582;
        color: $white;

        &:hover, &.active, &:focus {
          box-shadow: unset;
          background-color: #cad1f3 !important;
          border-color: #384582;
          color: #000;
          text-shadow: 0 0 black;
        }
      }
      .fsc-form-group-help{
        color: #de810d;
      }
    }
  }
}
