@import "../../variables";

&:after{
  content: unset;
}

//Dialog Header
header.window-header{
  background: url($classicDenim);
  color: var(--color-text-light-highlight);
  font-size: 1rem;
  border: 0;
  border-image: unset;
  flex: 0 0 30px;
  padding: 0 8px;
  margin: 0;
  position: unset;
  min-height: unset;
  height: unset;

  .window-title{
    margin: 0;
    border: 0;
    text-align: left;
    box-shadow: unset;
    text-shadow: unset;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-light-highlight);
  }

  a.header-button{
    margin-top: 0!important;
    margin-right: 0;
    color: var(--color-text-light-highlight);
    font-size: 1rem;
    background: unset;
    height: unset;
    width: unset;
    &:hover, &:active, &:focus{
      color: var(--color-text-light-highlight);
      text-shadow: 0 0 8px var(--color-shadow-primary);
      box-shadow: unset;
      i[class^='fa']{
        color: var(--color-text-light-highlight);
      }
    }
    i[class^='fa']{
      margin-right: 3px;
      position: relative;
    }
  }
}

.window-content{
  background: url($classicParchment) !important;
  color: var(--color-text-dark-primary) !important;
  border: 0;
  border-image: unset;
  box-shadow: unset;
  --color-text-dark-primary: #{$fontColor};
}

//Calendar List Styling
.fsc-calendar-list {
  .fsc-calendar-display {
    background-color: #e8e8ef;
    color: #000000;
    border-color: #cad1f3;

    &.fsc-active {
      background-color: $classicPrimary;
      color: $white;

      &.fsc-visible {
        background-color: $classicPrimary;

        &:hover {
          background-color: $classicPrimary;
        }
      }
    }

    &.fsc-visible {
      color: $white;
      background-color: $classicTertiary;

      &:hover {
        background-color: $classicTertiary;
      }
    }

    &:hover {
      background-color: $classicTertiaryHover;
    }

    .fsc-calendar-actions {
      border-color: #cad1f3;
    }

    .fsc-animated-clock {
      svg {
        path {
          fill: green;
          stroke: green;
        }
      }
    }
  }
}

//Note List Styling
.fsc-side-drawer {
  background: url($classicDenim);
  border-color: #000000;
  color: $white;
  h2{
    border-bottom-color: $secondary;
  }
}

.window-resizable-handle{
  bottom: -1px;
  right: 0;
}