@import "../../variables";

//Multi Select
.fsc-multiselect{
  .fsc-multi-select-options{
    border-color: $gray-600;
    li{
      background-color: var(--color-bg-option);
      &:hover{
        background-color: $primary-50;
      }
      &.fsc-disabled{
        color: $gray-700;
        background-color: $gray-400;
      }
    }
  }
}