@import "../../variables";

//Journal Sheet
&.journal-sheet{
  .window-content{
    box-shadow: unset;
  }
  .fsc-page-list{
    background-color: #dbdbdb;
    .fsc-page-list-controls{
      .fsc-search-box{
        background: unset;
        box-shadow: unset;
        border-image: unset;
        input{
          background-color: rgba(0, 0, 0, 0.05);
          color: $white;
          border: 1px solid #7a7971;
        }
        .fsc-control{
          background-color: unset;
        }
      }
    }
    .fsc-list-of-pages{
      li{
        &:hover, &.fsc-current{
          background-color: #ff000020;
        }
      }
    }
  }
  .fsc-image-placeholder{
    background-color: $gray-200;
    i{
      opacity: 0.5;
    }
  }
}