@import "../../variables";

//Note Search Styling
.fsc-search-box {
  input{
    color: $white;
    &::placeholder{
      color: $gray-400;
    }
  }
  .fsc-control {
    border-right-width: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: unset;
    background-color: rgba(0, 0, 0, 0.05);
    border-color: #7a7971;
    color: $white;
    &:hover, &.active, &:focus {
      text-shadow: unset;
      color: $white;
      background-color: rgba(0, 0, 0, 0.05);
      border-color: #7a7971;
    }
  }
}