@import "../../variables";

//Time Selector Styling
.fsc-time-selector {
  .fsc-ts-inputs {
    background-color: #ffffff;
    border-color: #c3c3c3;

    .fsc-dropdown {
      background-color: #ffffff;
      border-color: #c3c3c3;
      box-shadow: 2px 2px 2px $boxShadowColor;

      li {
        &:nth-child(even) {
          background-color: #d8d8d8;
        }

        &:hover {
          background-color: #a8a8a8;
        }
      }
    }
  }
}