@mixin scrollbar($background, $border){
  scrollbar-color: $background, $border;

  &::-webkit-scrollbar{
    width: 6px;
  }

  &::-webkit-scrollbar-thumb{
    background: $background;
    border-color:$border;
    border-image: unset;
  }

  &::-webkit-scrollbar-button{
    background: unset;
    height: 0;
  }

  &::-webkit-scrollbar-track{
    background: unset;
    border-image: unset;
  }
}