@import "../variables";
.fsc-simple-calendar-configuration{
  &.simple-calendar{
    &.window-app{
      .window-content{
        overflow-x: hidden!important;
        overflow-y: hidden!important;

        .fsc-configuration-wrapper{
          position: relative;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          max-height: 100%;
          padding:0;
          //List of tabs on the left
          .tabs.fsc-sheet-tabs {
            @include scrollbar();
            flex: 0 0 10rem;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            overflow-y: auto;
            overflow-x: visible;
            padding-bottom: pxToRem(30);
            border:0;
            border-right: 1px solid;

            .fsc-tab-section{
              flex: unset;
              display: flex;
              flex-direction: column;

              .fsc-heading{
                color: var(--config-menu-heading-color);
                border-top-color: var(--config-menu-heading-color);
                border-bottom-color: var(--config-menu-item-border-color);
              }
              &:first-child{
                .fsc-heading{
                  border-top-width: 0;
                }
              }
              &.fsc-stripe{
                background-color: var(--config-menu-cal-settings-bg-color);
              }

              .fsc-calendar-selector{
                position: relative;
                .fsc-heading{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  cursor: pointer;
                  &::after{
                    font-family: $icon-font-family;
                    content: "\f0d7";
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    font-weight: 900;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                  }
                }
                ul{
                  margin: 0;
                  padding: 0;
                  position: absolute;
                  top:100%;
                  width: 100%;
                  max-height: 0;
                  overflow: hidden;
                  list-style: none;
                  z-index: 10;
                  font-size: pxToRem(14);
                  box-shadow: 0 5px 5px 0 #000;

                  &.fsc-closed{
                    visibility: hidden;
                  }
                  &.fsc-open{
                    visibility: visible;
                    max-height: pxToRem(300);
                  }

                  li{
                    flex: unset;
                    padding: $spacer-half $spacer-half $spacer-half $spacer;
                    cursor: pointer;
                    border-bottom: 1px solid var(--section-border-color);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: var(--config-menu-cal-selector-bg-color);
                    color: var(--config-menu-cal-selector-color);

                    &.fsc-active,&:hover{
                      background-color: var(--config-menu-cal-selector-hover-bg-color);
                      color: var(--config-menu-cal-selector-hover-color);
                    }
                    &.fsc-new-calendar{
                      color: var(--btn-save-bg-hover-color);
                      &.fsc-active,&:hover{
                        color: var(--config-menu-cal-selector-hover-color);
                      }
                    }
                    .fsc-control{
                      width: unset;
                      font-size: 0.75rem;
                      line-height: 0.875rem;
                    }
                  }
                }
              }

              .fsc-item{
                border-bottom: 1px solid var(--config-menu-item-border-color);
                color: var(--config-menu-item-color);
                &.fsc-active, &.active, &:hover{
                  background-color: var(--config-menu-item-hover-bg-color);
                  color: var(--config-menu-item-hover-color);
                }
                &:last-child{
                  border-bottom: unset;
                }
              }
            }
            .fsc-heading{
              flex: unset;
              padding: $spacer-half $spacer-half $spacer-half ($spacer-half*0.5);
              text-align: left;
              font-size: 1.125rem;
              font-weight: 600;
              border-top: 1px solid;
              border-bottom: 1px solid;
            }
            .fsc-sub-heading{
              flex: unset;
              padding: $spacer-half;
              text-align: left;
              font-size: 1rem;
              font-weight: 600;
              border-bottom: 1px solid;
            }
            .fsc-item{
              display: block;
              flex: unset;
              padding: $spacer-half $spacer-half $spacer-half $spacer;
              text-align: left;
              text-decoration: none;
              font-size: pxToRem(14);
              font-weight: 600;
              border-radius: 0;
              border: 0;

              &.fsc-active, &:hover{
                text-shadow: unset;
                box-shadow: unset;
              }
              &.fsc-active{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                &:after{
                  font-family: $icon-font-family;
                  font-weight: 900;
                  content: '\f061';
                  padding-left: $spacer-quarter;
                }
              }
            }
          }
          //Actual Tabs
          .fsc-tab-wrapper{
            @include scrollbar();
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
            padding: $spacer-half $spacer-half pxToRem(30);

            h2{
              border-color: var(--heading-border-color);
              font-size: pxToRem(22);
              font-family: var(--heading-font-family);
              a{
                font-size: 0.875rem;
                text-decoration: none;
              }
            }
            p{
              font-size: pxToRem(14);
            }
            input:not(.fsc-toggle), select{
              height: pxToRem(26);
            }

            .fsc-settings-group{
              opacity: 0;
              &.fsc-open{
                visibility: visible;
                opacity: 1;
              }
              &.fsc-closed{
                visibility: hidden;
                height: 0;
                overflow: hidden;
              }
            }
            .fsc-section-wrapper{
              position: relative;
            }
            .fsc-section{
              margin: $spacer 0;
              opacity: 0;

              &:first-child{
                margin-top: 0;
              }

              &.fsc-open{
                visibility: visible;
                opacity: 1;
              }
              &.fsc-closed{
                visibility: hidden;
                height: 0;
                overflow: hidden;
              }
            }

            .fsc-control-section{
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-items: center;
              justify-content: space-evenly;

              .fsc-control{
                flex: 0 0 25%;
              }
            }

            .fsc-f-table{
              display: flex;
              flex-direction: column;
              border: 1px solid var(--form-group-border-color);
              margin-bottom: $spacer-half;
              font-size: pxToRem(14);
              background-color: var(--form-group-bg-color);
              .fsc-row{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                padding: $spacer-half 0;
                &.fsc-head{
                  font-weight: 600;
                  text-align: center;
                  border-bottom: 1px solid var(--form-group-border-color);
                }
                &:nth-child(even) {
                  background-color: var(--form-group-bg-hover-color);
                }
                .fsc-col{
                  flex: 1;
                  text-align: center;
                  margin: 0 ($spacer-quarter);
                  input{
                    text-align: left;
                  }
                  .fsc-show-advanced{
                    span{
                      font-weight: normal;
                      margin-left: ($spacer-quarter);
                    }
                  }
                }
                .fsc-options{
                  flex: 0 0 100%;
                  padding: $spacer-quarter 2rem;
                  max-height: 0;
                  overflow: hidden;

                  &.fsc-open{
                    visibility: visible;
                    max-height: pxToRem(500);
                  }
                  &.fsc-closed{
                    visibility: hidden;
                  }

                  .form-fields{
                    flex: 1;
                  }

                  h3{
                    margin-top: $spacer-half;
                    border-bottom: 1px solid var(--heading-border-color);
                    font-weight: 600;
                    font-family: var(--heading-font-family);
                  }
                }
              }

              &.fsc-moons{
                .fsc-row{
                  .fsc-options{
                    &.fsc-open{
                      max-height: fit-content;
                    }
                  }
                }
              }
            }

            .fsc-table-actions{
              display: flex;
              flex-direction: row;
              margin-bottom: 1rem;

              .fsc-spacer{
                flex: 1 1;
              }
              button{
                width: pxToRem(200);
              }
            }

            //----------------
            // Config Tabs
            //----------------
            .fsc-import-export{
              .fsc-importing{
                flex-direction: column;
                .fsc-progress{
                  margin-top: $spacer-half;
                  border: 1px solid var(--progress-bar-border-color);
                  width: 100%;
                  background-color: var(--progress-bar-bg-color);
                  &.fsc-hide{
                    display: none;
                  }
                  .fsc-progress-bar{
                    height: $spacer;
                    width: 0;
                    background-color: var(--progress-bar-fill-color);
                  }
                }
                .fsc-file-details{
                  .fsc-calendar-list{
                    li{
                      display: flex;
                      flex-direction: row;
                      flex-wrap: nowrap;
                      align-items: center;
                      justify-content: space-between;
                      margin: $spacer-half 0;
                    }
                  }
                  .fsc-save{
                    width: pxToRem(200);
                    margin: 0 auto;
                  }
                }
              }
              .form-group{
                &.fsc-open{
                  max-height: fit-content;
                  align-items: flex-start;
                }
                .fsc-calendar-list{
                  list-style: none;
                  margin: 0;
                  padding: 0;
                  flex: 1 1 70%;
                  li{
                    margin: $spacer-half 0;
                  }
                  label{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    align-content: center;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    font-size: 0.875rem;
                    font-weight: normal;
                    input{
                      margin-right: $spacer-half;
                    }
                  }
                }
                #exportCalendar{
                  flex: 1 1 30%;
                }
              }
            }
            .fsc-new-calendar{
              button{
                max-width: pxToRem(200);
                margin: $spacer-half auto;
              }
            }
            .fsc-quick-setup{
              .fsc-section{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                .form-group{
                  max-height: fit-content;
                  overflow: visible;
                }
              }
              .fsc-predefined-list{
                display: grid;
                justify-items: stretch;
                grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
                grid-gap: $spacer;
                align-items: center;

                .fsc-predefined-calendar{
                  padding: $spacer-half;
                  border: 1px solid var(--pre-cal-border-color);
                  border-radius: pxToRem(10);
                  cursor: pointer;
                  font-size: pxToRem(14);
                  color: var(--pre-cal-color);
                  box-shadow: inset 0 0 5px var(--pre-cal-color);
                  &:hover{
                    border-color: var(--pre-cal-border-hover-color);
                    background-color: var(--pre-cal-border-hover-color);
                    color: var(--precal-hover-color);
                  }
                  &.fsc-selected{
                    border-color: var(--pre-cal-border-hover-color);
                    background-color: var(--pre-cal-border-hover-color);
                    color: var(--precal-hover-color);
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: center;
                    &:after{
                      font-family: $icon-font-family;
                      font-weight: 900;
                      content: '\f00c';
                      padding-left: $spacer-quarter;
                    }
                  }
                  .fsc-predefined-calendar-details{
                    flex: 1;
                    font-weight: 600;
                  }
                  .fsc-predefined-calendar-includes{
                    font-size: 0.75rem;
                    font-weight: 500;
                    margin-top: $spacer-quarter;
                    padding-left: $spacer-half;
                    padding-top: $spacer-quarter;
                    border-top: 1px solid;
                    .fa{
                      margin-left: $spacer-quarter;
                    }
                  }
                }
              }
            }
            .fsc-permissions{
              .fsc-table-header{
                padding: ($spacer-quarter) $spacer-half;
                border: 1px solid;
                border-radius: 0;
                .fsc-index{
                  flex: 0 0 pxToRem(200);
                  text-align: left;
                }
                label{
                  text-align: center;
                }
              }
              .fsc-permissions-list{
                list-style: none;
                margin: 0;
                padding: 0;
                max-height: pxToRem(400);
                overflow: hidden auto;
                scrollbar-width: thin;
                .fsc-permission{
                  margin: -1px 0 0;
                  label{
                    flex: 0 0 pxToRem(200);
                  }
                  .form-fields{
                    justify-content: space-around;
                  }
                }
              }
            }

            .fsc-about{
              .fsc-logo{
                width: pxToRem(100);
                margin: 0 auto;
              }
              h1{
                text-align: center;
                font-size: pxToRem(28);
                border-color: var(--about-heading-border-color);
                font-family: var(--heading-font-family);
              }
              .fsc-description{
                margin-bottom: $spacer;
              }

              .fsc-row{
                display: flex;
                flex-direction: row;
                margin-bottom: $spacer-half;

                .fsc-card{
                  flex: 1;
                  background-color: var(--section-bg-color);
                  border: 1px solid var(--section-border-color);
                  border-radius: pxToRem(5);
                  padding: $spacer-half;
                  margin-right: $spacer-half;
                  font-size: pxToRem(14);
                  &:last-child{
                    margin-right: 0;
                  }

                  h2{
                    font-size: pxToRem(18);
                    font-family: var(--heading-font-family);
                  }
                }

                ul{
                  li{
                    margin: ($spacer-quarter) 0;
                  }
                }
              }

              .fsc-translations{
                table{
                  border: 1px solid;
                  width: pxToRem(400);
                }
              }
            }
          }
          .fsc-config-save{
            position: absolute;
            text-align: center;
            width: 100%;
            backdrop-filter: blur(2px);
            left: 0;
            bottom: 0;
            height: pxToRem(30);
            border-top: 1px solid #b5b5b5;

            button{
              display: inline-block;
              width: 30%;
              margin-left: $spacer;
              margin-top: $spacer-quarter;
            }
          }
        }
      }
    }
  }

}
