.simple-calendar{
  .form-group{
    margin: $spacer-half 0;
    padding: $spacer-half;
    border: 1px solid;
    max-height: 0;
    overflow: hidden;

    &.border-none{
      border-width: 0;
    }
    &.open{
      visibility: visible;
      max-height: 150px;
    }
    &.closed{
      visibility: hidden;
      margin: 0;
      padding: 0;
    }
    &.date-selector{
      overflow: visible;
    }
    label{
      font-size: 1rem;
      font-weight: 600;
    }
    .example{
      flex: 0 0 100%;
      text-align: right;
      padding: $spacer-half 0 0 0;
    }
  }
}