@import "src/styles/variables";
.simple-calendar{
  &.window-app.compact-view{
    header{
      flex: 0 0 10px;
      *{
        display: none;
      }
    }
    .sc-main-wrapper{
      .calendar-section{
        flex-direction: column-reverse;
        .calendar-display{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;
          margin: $spacer-half 0;
          .moons{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            svg{
              height: 20px;
              width: 20px;
              filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.4));
            }
          }
        }
        .sc-actions-list{
          flex: 0 0 26px;
          flex-direction: row;
          width: unset;
          margin: 0;
          padding: 0 0 ($spacer-half * 0.5);
          border-bottom: 1px solid;

          button{
            font-size: 0.75rem;
            width: unset;
            margin-right: $spacer-half * 0.5;
            margin-bottom: 0;
            &:last-of-type{
              margin-right: 0;
            }
          }

        }
      }
    }
  }
}