@import "src/styles/variables";
.simple-calendar{
  font-family: Roboto, sans-serif;
  &.window-app{
    box-shadow: unset;
    background: unset;
    header{
      font-size: 1rem;
      border-radius: 5px 5px 0 0;
      border-bottom-width: 0;
    }
    .window-content{
      padding: 0;
      overflow-x: visible;
      scrollbar-color: $primary $primary-600;
      &::-webkit-scrollbar-thumb{
        background: $primary;
        border-color:$primary-600;
      }
    }
    .sc-header-bar{
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      border-bottom: 1px solid;
      padding: ($spacer-half*0.5) $spacer-half;
      margin-bottom: $spacer-half;
      height: 28px;
      flex: 0;
      .control{
        font-size: 0.75rem;
        line-height: 0.85rem;
        padding: 0.1125rem 0.375rem;
      }

      .calendar-name{
        font-size: 12px;
      }
      .spacer{
        flex: 1;
      }
      > button{
        flex: 0;
      }
      .sc-calendar-list-wrapper{
        position: relative;
        .sc-calendar-list{
          position: absolute;
          display: flex;
          flex-direction: column;
          overflow-y: auto;
          overflow-x: hidden;
          z-index: 110;
          top: 16px;
          left: 0;
          padding: $spacer-half;
          border-style: solid;
          border-width: 0 1px 1px;
          opacity: 0;

          &.closed{
            visibility: hidden;
          }
          &.open{
            visibility: visible;
            opacity: 1;
          }

          .calendar-button{
            margin: 0 0 $spacer-half 0;
            font-size: 1rem;
            line-height: 1rem;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .sc-main-wrapper{
      display: flex;
      flex-direction: column;
      padding: $spacer-half;

      .section{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .clock-display, .calendar-display{
          flex: 1;
        }

        &:last-child{
          .controls {
            margin-bottom: 0;
          }
        }
      }

      .controls{
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: $spacer-half;

        &.unit-controls{
          flex-direction: row;
          justify-content: center;

          .control-group{
            position: relative;
            margin-right: $spacer-half*0.5;
            &:last-child{
              margin-right: 0;
            }

            .selector{
              &::after{
                font-family: "Font Awesome 5 Free";
                content: "\f0d7";
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                font-size: 12px;
                font-weight: 900;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
              }
            }

            .unit-list{
              margin: 0;
              list-style: none;
              position: absolute;
              bottom: 100%;
              overflow: hidden;
              max-height: 0;
              padding: 0;
              border: 1px solid;

              li{
                cursor: pointer;
                padding:.15rem .5rem;
                border-bottom: 1px solid;

                &:last-child{
                  margin-bottom: 0;
                  border-bottom-width: 0;
                }
              }

              &.open{
                visibility: visible;
                max-height: 150px;
              }
              &.closed{
                visibility: hidden;
              }
            }
          }
          .fa-minus, .fa-plus{
            font-size: 10px;
          }
        }

        .control-group{
          justify-content: center;
          margin-bottom: $spacer-half*0.5;
        }

        button{
          svg{
            height: 1.125rem;
            margin-bottom: -4px;
          }
        }
      }

      .sc-actions-list{
        flex: 0 0 62px;
        display: flex;
        flex-direction: column;
        width: 62px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-left: $spacer-half;
        padding: 0 $spacer-half;

        button{
          margin: 0 0 $spacer-half 0;
        }

        .time-keeper-buttons{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          margin: auto 0;

          .control{
            font-size: 12px;
            padding: 0.125rem 0;
            margin-right: 2px;
            margin-bottom: 0;

            &:last-child{
              margin-right: 0;
            }
          }
        }

        .primary-loader{
          text-align: center;
          margin: auto 0;
        }
      }

      .sc-note-list{
        position: absolute;
        top: 30px;
        left: 25%;
        border-top: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        height: 75%;
        min-width: 300px;
        z-index: -1;
        &.closed{
          visibility: hidden;
        }
        &.open{
          visibility: visible;
          left: 100%;
        }

        h2{
          padding: $spacer-half $spacer-half 0;
          border-bottom-color: $secondary;
        }

        em{
          padding: 0 $spacer-half;
        }

      }

      .spacer{
        margin: 0 0 $spacer-half 0;
        flex: 1;
      }

      .spacer-small{
        height: $spacer-half;
      }
    }
  }

}