@import "src/styles/variables";
.simple-calendar {
  .fsc-message {
    padding: $spacer-half;
    margin-bottom: $spacer-half;
    border: 1px solid;
    border-radius: 5px;
    font-size: 0.75rem;
    color: var(--message-color);
    &.fsc-warn{
      background-color: var(--message-warn-bg-color);
      border-color: var(--message-warn-border-color) !important;
    }
    &.fsc-success{
      background-color: var(--message-success-bg-color);
      border-color: var(--message-success-border-color) !important;
    }
    &.fsc-info{
      background-color: var(--message-info-bg-color);
      border-color: var(--message-info-border-color) !important;
    }
    &.fsc-danger{
      background-color: var(--message-danger-bg-color);
      border-color: var(--message-danger-border-color) !important;
    }
  }
  &.fsc-simple-calendar-message{
    .fsc-chat-command-input{
      text-transform: capitalize;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid var(--color-border-light-2);
    }

    .fsc-chat-command-result{
      margin-bottom: 0.5rem;
    }

    .fsc-control:hover{
      background-color: #0000001f;
    }
  }
}