@import "../variables";
.simple-calendar{
  .sc-configuration-wrapper{
    .tab-section{
      &.calendar-selector{
        ul {
          &.animate {
            transition: max-height 500ms;
          }
        }
      }
    }
    .tab-wrapper{
      .section{
        &.animate {
          transition: opacity 500ms;
        }
      }
    }
  }
}


.simple-calendar-configuration{
  &.window-app{
    .window-content{
      form{
        opacity: 0;
        transition: opacity 2s;
      }

      &.open{
        form{
          opacity: 1;
        }
      }
    }
  }
}