@import "../variables";
.simple-calendar{
  &.window-app{
    &.compact-view{
      .sc-main-wrapper {
        .sc-side-drawer {
          &.animate {
            transition: left 500ms, height 500ms;
          }
        }
      }
    }

    .sc-header-bar{
      .sc-calendar-list{
        &.animate{
          transition: opacity 500ms;
        }
      }
    }
    .sc-main-wrapper{
      .controls{
        &.unit-controls{
          .control-group{
            .unit-list{
              transition: max-height 500ms;
            }
          }
        }
      }
      .sc-side-drawer{
        &.animate{
          transition: left 500ms;
        }
      }
      .sc-calendar-list{
        .animated-clock{
          &.animate{
            svg{
              #c_arm_s{
                transform-origin: center;
                animation: 2s linear infinite sc-clock-spin;
              }
              #c_arm_m{
                transform-origin: center;
                animation: 6s linear infinite sc-clock-spin;
              }
            }
          }
        }
      }
      .sc-note-search{
        .search-options{
          &.animate{
            transition: max-height 500ms;
          }
        }
      }
    }
  }
}