<div id="simpleCalendarNotes">
    <form autocomplete="off">
        {{#if viewMode}}
        <p>
            {{noteMonth}} {{object.day}}, {{noteYear}}
            {{#if repeats}}
            <span class="note-repeat">{{repeatsText}}</span>
            {{/if}}
        </p>
        <h1>{{object.title}}</h1>
        <div class="note-author">{{localize 'FSC.Notes.Author'}}: {{authorName}}</div>
        {{{object.content}}}
        {{#if canEdit}}
        <div class="edit-controls">
            <a class="control fa fa-edit" id="scNoteEdit"> {{localize 'FSC.Edit'}}</a>
            <a class="control delete fa fa-trash" id="scNoteDelete"> {{localize 'FSC.Delete'}}</a>
        </div>
        {{/if}}
        {{else}}
        <h1>{{localize 'FSC.Notes.NewFor'}} {{object.monthDisplay}} {{object.day}}, {{object.year}}</h1>
        <div class="form-group">
            <label for="scNoteTitle">{{localize 'FSC.Notes.Title'}}</label>
            <div class="form-fields">
                <input value="{{object.title}}" placeholder="{{localize 'FSC.Notes.New'}}" type="text" id="scNoteTitle" />
            </div>
            <p class="notes">{{localize 'FSC.Notes.TitleHelp'}}</p>
        </div>
        <div class="form-group">
            <label for="scNoteVisibility">{{localize 'FSC.Notes.PlayerVisible'}}</label>
            <div class="form-fields">
                <input value="{{object.playerVisible}}" type="checkbox" id="scNoteVisibility" {{#if object.playerVisible}}checked="checked"{{/if}} {{#unless isGM}}disabled="disabled"{{/unless}} />
            </div>
            <p class="notes">{{localize 'FSC.Notes.PlayerVisibleHelp'}}</p>
        </div>
        <div class="form-group">
            <label for="scNoteRepeats">{{localize 'FSC.Notes.Repeating'}}</label>
            <div class="form-fields">
                <select id="scNoteRepeats">
                    {{selectOptions repeatOptions selected=object.repeats localize=true}}
                </select>
            </div>
            <p class="notes">{{localize 'FSC.Notes.RepeatingHelp'}}</p>
        </div>
        <h2>Details</h2>
        {{editor content=object.content target="content" owner=note.author button=enableRichTextEditButton editable=enableRichTextEditButton }}
        <button id="scSubmit" class="control save" type="submit" name="submit" title="{{localize 'FSC.Notes.Save'}}">
            <i class="far fa-save"></i> {{localize 'FSC.Notes.Save'}}
        </button>
        {{/if}}
    </form>
</div>
