<div id="simpleCalendar">
    <div class="calendar-row" style="{{#calendar-row-width}}{{/calendar-row-width}}">
        <div class="calendar-display">
            <div class="calendar" style="{{#calendar-width}}{{/calendar-width}}">
                <div class="current-date">
                    <a class="fa fa-chevron-left" title="{{localize 'FSC.ChangePreviousMonth'}}"></a>
                    <span>{{currentYear.visibleMonth.name}} {{currentYear.display}}</span>
                    <a class="fa fa-chevron-right" title="{{localize 'FSC.ChangeNextMonth'}}"></a>
                </div>
                {{#if currentYear.showWeekdayHeaders}}
                <div class="weekdays">
                    {{#each currentYear.weekdays}}
                    <div class="weekday" title="{{name}}">{{firstCharacter}}</div>
                    {{/each}}
                </div>
                {{/if}}
                <div class="days">
                    {{#each currentYear.visibleMonthWeekOffset}}
                    <div class="empty-day"></div>
                    {{/each}}
                    {{#each currentYear.visibleMonth.days}}
                    <div class="day {{#if ../showCurrentDay}}{{#if this.current}}current{{/if}}{{/if}} {{#if ../showSelectedDay}}{{#if this.selected}}selected{{/if}}{{/if}}" data-day="{{this.numericRepresentation}}">
                        {{#day-has-note day=this}}{{/day-has-note}}
                        {{this.name}}
                    </div>
                    {{/each}}
                </div>
            </div>
            {{#if currentYear.showTime}}
            <div class="time-display">
                {{localize 'FSC.Time.Current'}}: {{currentYear.currentTime.hour}}:{{currentYear.currentTime.minute}}:{{currentYear.currentTime.second}}
            </div>
            {{/if}}
            <div class="calendar-controls">
                <a class="fa fa-calendar-day control today" title="{{localize 'FSC.Today'}}"> {{localize 'FSC.Today'}}</a>
                {{#if isGM}}
                <span class="spacer"></span>
                <a class="fa fa-cog control configure-button" title="{{localize 'FSC.Configure'}}"> {{localize 'FSC.Configure'}}</a>
                {{/if}}
            </div>
        </div>
        {{#if isGM}}
        <div class="controls">
            <h2>{{localize 'FSC.DateControls'}}</h2>
            <p>{{localize 'FSC.DateControlsHelp'}}</p>
            <div class="control-group">
                <a class="control previous" title="{{localize 'FSC.MoveDayBack'}}" data-type="second"><span class="fa fa-angle-left"></span>{{localize 'FSC.Back'}}</a>
                <span class="control-name">{{localize 'FSC.Second'}}</span>
                <a class="control next" title="{{localize 'FSC.MoveDayForward'}}" data-type="second">{{localize 'FSC.Forward'}}<span class="fa fa-angle-right"></span></a>
            </div>
            <div class="control-group">
                <a class="control previous" title="{{localize 'FSC.MoveDayBack'}}" data-type="minute"><span class="fa fa-angle-left"></span>{{localize 'FSC.Back'}}</a>
                <span class="control-name">{{localize 'FSC.Minute'}}</span>
                <a class="control next" title="{{localize 'FSC.MoveDayForward'}}" data-type="minute">{{localize 'FSC.Forward'}}<span class="fa fa-angle-right"></span></a>
            </div>
            <div class="control-group">
                <a class="control previous" title="{{localize 'FSC.MoveDayBack'}}" data-type="hour"><span class="fa fa-angle-left"></span>{{localize 'FSC.Back'}}</a>
                <span class="control-name">{{localize 'FSC.Hour'}}</span>
                <a class="control next" title="{{localize 'FSC.MoveDayForward'}}" data-type="hour">{{localize 'FSC.Forward'}}<span class="fa fa-angle-right"></span></a>
            </div>
            <div class="control-group">
                <a class="control previous" title="{{localize 'FSC.MoveDayBack'}}" data-type="day"><span class="fa fa-angle-left"></span>{{localize 'FSC.Back'}}</a>
                <span class="control-name">{{localize 'FSC.Day'}}</span>
                <a class="control next" title="{{localize 'FSC.MoveDayForward'}}" data-type="day">{{localize 'FSC.Forward'}}<span class="fa fa-angle-right"></span></a>
            </div>
            <div class="control-group">
                <a class="control previous" title="{{localize 'FSC.MoveMonthBack'}}" data-type="month"><span class="fa fa-angle-double-left"></span>{{localize 'FSC.Back'}}</a>
                <span class="control-name">{{localize 'FSC.Month'}}</span>
                <a class="control next" title="{{localize 'FSC.MoveMonthForward'}}" data-type="month">{{localize 'FSC.Forward'}}<span class="fa fa-angle-double-right"></span></a>
            </div>
            <div class="control-group">
                <a class="control previous" title="{{localize 'FSC.MoveYearBack'}}" data-type="year"><span class="fa fa-angle-left shift-back"></span><span class="fa fa-angle-double-left"></span>{{localize 'FSC.Back'}}</a>
                <span class="control-name">{{localize 'FSC.Year'}}</span>
                <a class="control next" title="{{localize 'FSC.MoveYearForward'}}" data-type="year">{{localize 'FSC.Forward'}}<span class="fa fa-angle-double-right"></span><span class="fa fa-angle-right shift-back"></span></a>
            </div>
            <button class="control save btn-apply">{{localize 'FSC.Apply'}}</button>
        </div>
        {{/if}}
    </div>
    <div class="date-notes">
        <h2>{{localize 'FSC.Notes.For'}} {{currentYear.selectedDisplayMonth}} {{currentYear.selectedDisplayDay}}, {{currentYear.selectedDisplayYear}}
            {{#if isGM}}
            <button class="fa fa-plus control save add-note"> {{localize 'FSC.Notes.AddNew'}}</button>
            {{/if}}
        </h2>
        {{#if notes.length}}
            {{#each notes}}
            <div class="note" data-index="{{id}}">
                <h3 class="note-title">{{title}}</h3>
            </div>
            {{/each}}
        {{else}}
        <em>{{localize 'FSC.Notes.Empty'}}</em>
        {{/if}}
    </div>
</div>
