<div class="sc-main-wrapper">
    <div class="section calendar-section">
        <div class="calendar-display">
            {{#if uiElementStates.compactView}}
            <div class="date">
            {{calendar.selectedDisplay}}
            </div>
            <div class="moons">
                {{#each calendar.currentYear.selectedDayMoons}}
                <div class="moon-phase {{phase.icon}}" title="{{name}} - {{phase.name}}">{{{iconSVG}}}</div>
                {{/each}}
            </div>
            {{else}}
            {{sc-full-calendar id=calendar.calendarId date=calendar.visibleDate}}
            {{/if}}
        </div>
        <div class="sc-actions-list">
            {{#if (gt calendarList.length 1)}}
            <button class="control primary calendar-list fa fa-calendar" title="{{localize 'FSC.Calendars'}}"></button>
            {{/if}}
            <button class="control {{#if (gt calendar.currentYear.selectedDayNotes.normal 0)}}secondary{{/if}} notes fa fa-sticky-note" title="{{localize 'FSC.Configuration.General.Notes'}}">&nbsp;{{calendar.currentYear.selectedDayNotes.normal}}</button>
            {{#if (gt calendar.currentYear.selectedDayNotes.reminders 0)}}
            <button class="control tertiary reminder-notes fa fa-bell" title="{{localize 'FSC.Configuration.General.Notes'}}">&nbsp;{{calendar.currentYear.selectedDayNotes.reminders}}</button>
            {{/if}}
            {{#if calendar.addNotes}}
            <button class="fa control save add-note" title="{{localize 'FSC.Notes.AddNew'}}"><span class="fa-sticky-note"></span>&nbsp;<span class="fa-plus"></span></button>
            {{/if}}
            <button class="fa fa-search control search" title="{{localize 'FSC.Search.Title'}}"></button>
            {{#unless uiElementStates.compactView}}
            <span class="spacer"></span>
            {{#if calendar.changeDateTime}}
            {{#if calendar.showSetCurrentDate}}
            <button class="control save btn-apply fa fa-calendar-check" title="{{localize 'FSC.SetCurrentDate'}}"></button>
            {{/if}}
            {{/if}}
            <button class="fa fa-calendar-day control today" title="{{localize 'FSC.Today'}}"></button>
            {{#if calendar.isGM}}
            <button class="fa fa-cog control configure-button" title="{{localize 'FSC.Configure'}}"></button>
            {{/if}}
            {{/unless}}
        </div>
        {{#if (gt calendarList.length 1)}}
        <div class="sc-calendar-list sc-side-drawer {{#if uiElementStates.calendarDrawerOpen}}open{{else}}closed{{/if}}">
            <h2>{{localize 'FSC.Calendars'}}</h2>
            {{#each calendarList}}
            <button class="calendar-button control {{#if (eq id ../calendar.id)}}secondary{{/if}}" data-calid="{{id}}" title="{{name}}"><span>{{name}}</span></button>
            {{/each}}
        </div>
        {{/if}}
        <div class="sc-note-list sc-side-drawer {{#if uiElementStates.noteDrawerOpen}}open{{else}}closed{{/if}}">
            <h2>{{localize 'FSC.Notes.For'}} {{calendar.selectedDisplay}}</h2>
            {{#if calendar.notes.length}}
            <div class="note-list">
                {{#each calendar.notes}}
                <div class="note" data-index="{{id}}" draggable="{{#if ../calendar.reorderNotes}}true{{else}}false{{/if}}">
                    <div class="note-details-wrapper">
                        <h3 class="note-title">{{title}}</h3>
                        <div class="note-details">
                            {{#if ../calendar.isGM}}
                            {{#if playerVisible}}
                            <div class="note-category note-icon player-visible" title="{{localize 'FSC.Notes.PlayerVisible'}}">
                                <span class="fa fa-eye"></span>
                            </div>
                            {{else}}
                            <div class="note-category note-icon not-player-visible" title="{{localize 'FSC.Notes.NotPlayerVisible'}}">
                                <span class="fa fa-eye-slash"></span>
                            </div>
                            {{/if}}
                            {{/if}}
                            {{#if reminder}}
                            <div class="note-category note-icon reminder" title="{{localize 'FSC.Notes.ReminderHelp'}}">
                                <span class="fa fa-bell"></span>
                            </div>
                            {{/if}}
                            <div class="note-time note-category" title="{{localize 'FSC.Notes.Time'}}">
                                <span class="fa fa-clock"></span>  {{#if allDay}}{{localize 'FSC.AllDay'}}{{else}}{{displayDate}}{{/if}}
                            </div>
                            {{#if authorDisplay}}
                            <div class="note-category" title="{{localize 'FSC.Notes.Author'}}" style="background-color:{{authorDisplay.color}};color:{{authorDisplay.textColor}};">
                                <span class="fa fa-pencil-alt"></span> {{authorDisplay.name}}
                            </div>
                            {{/if}}
                            {{#each categories}}
                            <div class="note-category" style="background-color:{{color}};color:{{textColor}};">
                                {{name}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{#if ../calendar.reorderNotes}}
                    <div class="sorting-dragger"><span class="fa fa-arrows-alt-v"></span></div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            {{else}}
            <em>{{localize 'FSC.Notes.Empty'}}</em>
            {{/if}}
        </div>
        <div class="sc-note-search sc-side-drawer {{#if uiElementStates.searchDrawerOpen}}open{{else}}closed{{/if}}">
            <h2>{{localize 'FSC.SearchNotes'}}</h2>
            <div class="search-box">
                <input id="simpleCalendarSearchBox" type="text" value="{{search.term}}" />
                {{#if search.results.length}}
                <buton class="control fa fa-times"></buton>
                {{/if}}
                <button class="control fa fa-search"></button>
            </div>
            <h3 class="search-options-header">{{localize 'FSC.Search.Options.Title'}} <span class="fa fa-caret-down"></span></h3>
            <div class="search-options {{#if uiElementStates.searchOptionsOpen}}open{{else}}closed{{/if}}">
                <p><strong>Fields:</strong>Select which fields to search on a note.</p>
                <div class="search-fields">
                    <label><input type="checkbox" data-field="date" {{checked search.options.fields.date}}> {{localize 'FSC.Search.Options.Fields.Date'}}</label>
                    <label><input type="checkbox" data-field="title" {{checked search.options.fields.title}}> {{localize 'FSC.Search.Options.Fields.Title'}}</label>
                    <label><input type="checkbox" data-field="details" {{checked search.options.fields.details}}> {{localize 'FSC.Search.Options.Fields.Details'}}</label>
                    <label><input type="checkbox" data-field="author" {{checked search.options.fields.author}}> {{localize 'Author'}}</label>
                    <label><input type="checkbox" data-field="categories" {{checked search.options.fields.categories}}> {{localize 'FSC.Search.Options.Fields.Categories'}}</label>
                </div>
            </div>
            <div class="note-list">
                {{#if search.results.length}}
                {{#each search.results}}
                <div class="note" data-index="{{id}}">
                    <div class="note-details-wrapper">
                        <h3 class="note-title">{{title}}</h3>
                        <div class="note-details">
                            {{#if ../calendar.isGM}}
                            {{#if playerVisible}}
                            <div class="note-category note-icon player-visible" title="{{localize 'FSC.Notes.PlayerVisible'}}">
                                <span class="fa fa-eye"></span>
                            </div>
                            {{else}}
                            <div class="note-category note-icon not-player-visible" title="{{localize 'FSC.Notes.NotPlayerVisible'}}">
                                <span class="fa fa-eye-slash"></span>
                            </div>
                            {{/if}}
                            {{/if}}
                            {{#if reminder}}
                            <div class="note-category note-icon reminder" title="{{localize 'FSC.Notes.ReminderHelp'}}">
                                <span class="fa fa-bell"></span>
                            </div>
                            {{/if}}
                            <div class="note-time note-category" title="{{localize 'FSC.Notes.Time'}}">
                                <span class="fa fa-clock"></span>  {{#if allDay}}{{localize 'FSC.AllDay'}}{{else}}{{displayDate}}{{/if}}
                            </div>
                            {{#if authorDisplay}}
                            <div class="note-category" title="{{localize 'FSC.Notes.Author'}}" style="background-color:{{authorDisplay.color}};color:{{authorDisplay.textColor}};">
                                <span class="fa fa-pencil-alt"></span> {{authorDisplay.name}}
                            </div>
                            {{/if}}
                            {{#each categories}}
                            <div class="note-category" style="background-color:{{color}};color:{{textColor}};">
                                {{name}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <em>{{localize 'FSC.SearchEmpty'}}</em>
                {{/if}}
            </div>
        </div>
    </div>
    {{#if calendar.showClock}}
    <div class="section">
        <div class="clock-display">
            {{sc-clock id=calendar.clockId}}
        </div>
        <div class="sc-actions-list">
            {{#if calendar.changeDateTime}}
            {{#if calendar.showTimeControls}}
            {{#if isPrimary}}
            <div class="time-keeper-buttons">
                <button class="control time-start fa {{#if (eq clockClass 'started')}}secondary fa-pause{{else}}save fa-play{{/if}}" title="{{localize 'FSC.Time.Start'}}"></button>
                <button class="control time-stop {{#if (eq clockClass 'stopped')}} {{else}}delete{{/if}} fa fa-stop" title="{{localize 'FSC.Time.Stop'}}"></button>
            </div>

            {{else}}
            <div class="primary-loader"><i class="fas fa-spinner fa-spin"></i></div>
            {{/if}}
            {{/if}}
            {{/if}}
        </div>
    </div>
    {{/if}}
    {{#if calendar.changeDateTime}}
    {{#if calendar.showDateControls}}
    <div class="section">
        <div class="controls unit-controls">
            <div class="control-group">
                <button class="control primary fa fa-angle-double-left" title="{{localize 'FSC.MoveDayBack'}}" data-type="{{uiElementStates.dateTimeUnit}}" data-amount="-5"></button>
                <button class="control primary fa fa-angle-left" title="{{localize 'FSC.MoveDayBack'}}" data-type="{{uiElementStates.dateTimeUnit}}" data-amount="-1"></button>
                <button class="control primary selector" data-unit="time">{{localize uiElementStates.dateTimeUnitText}}&nbsp;</button>
                <button class="control primary fa fa-angle-right" title="{{localize 'FSC.MoveDayForward'}}" data-type="{{uiElementStates.dateTimeUnit}}" data-amount="1"></button>
                <button class="control primary fa fa-angle-double-right" title="{{localize 'FSC.MoveDayForward'}}" data-type="{{uiElementStates.dateTimeUnit}}" data-amount="5"></button>
                <ul class="unit-list time-units {{#if uiElementStates.dateTimeUnitOpen}}open{{else}}closed{{/if}}">
                    {{#if calendar.showTimeControls}}
                    <li class="{{#if (eq uiElementStates.dateTimeUnit 'second')}}selected{{/if}}" data-unit="second">{{localize 'FSC.Second'}}</li>
                    <li class="{{#if (eq uiElementStates.dateTimeUnit 'minute')}}selected{{/if}}" data-unit="minute">{{localize 'FSC.Minute'}}</li>
                    <li class="{{#if (eq uiElementStates.dateTimeUnit 'hour')}}selected{{/if}}" data-unit="hour">{{localize 'FSC.Hour'}}</li>
                    {{/if}}
                    {{#if calendar.showDateControls}}
                    <li class="{{#if (eq uiElementStates.dateTimeUnit 'day')}}selected{{/if}}" data-unit="day">{{localize 'FSC.Day'}}</li>
                    <li class="{{#if (eq uiElementStates.dateTimeUnit 'month')}}selected{{/if}}" data-unit="month">{{localize 'FSC.Month'}}</li>
                    <li class="{{#if (eq uiElementStates.dateTimeUnit 'year')}}selected{{/if}}" data-unit="year">{{localize 'FSC.Year'}}</li>
                    {{/if}}
                </ul>
            </div>
        </div>
        <div class="sc-actions-list"></div>
    </div>
    {{/if}}
    {{/if}}
    {{#if calendar.changeDateTime}}
    {{#if calendar.showTimeControls}}
    <div class="section">
        <div class="controls">
            <div class="control-group">
                <button class="control secondary" data-type="dawn" title="{{localize 'FSC.Dawn'}}">{{sc-icon name='sunrise'}}</button>
                <button class="control secondary" data-type="midday" title="{{localize 'FSC.Midday'}}">{{sc-icon name='midday'}}</button>
                <button class="control secondary" data-type="dusk" title="{{localize 'FSC.Dusk'}}">{{sc-icon name='sunset'}}</button>
                <button class="control secondary" data-type="midnight" title="{{localize 'FSC.Midnight'}}">{{sc-icon name='midnight'}}</button>
            </div>
        </div>
        <div class="sc-actions-list sc-compact-toggle">
            <div class="compact-toggle fa fa-flip-horizontal {{#if uiElementStates.compactView}}fa-expand-alt{{else}}fa-compress-alt{{/if}}"></div>
        </div>
    </div>
    {{/if}}
    {{/if}}
</div>



