<div id="simpleCalendarNotes">
    <form autocomplete="off">
        {{#if viewMode}}
        <h1>
            {{object.title}}
            <span class="reminder note-category {{#if reminder}}selected{{/if}}"><label><input type="checkbox" /><span class="fa fa-bell"></span>{{localize 'FSC.Notes.Reminder'}}</label></span>
        </h1>
        <div class="note-details">
            {{#if isGM}}
            {{#if object.playerVisible}}
            <div class="note-category note-icon" style="color:#ffffff;background-color:#2f581d" title="{{localize 'FSC.Notes.PlayerVisible'}}">
                <span class="fa fa-eye"></span>
            </div>
            {{else}}
            <div class="note-category note-icon" style="color:#ffffff;background-color:#922121" title="{{localize 'FSC.Notes.NotPlayerVisible'}}">
                <span class="fa fa-eye-slash"></span>
            </div>
            {{/if}}
            {{/if}}
            <div class="note-time note-category" title="{{localize 'FSC.Notes.Time'}}">
                <span class="fa fa-clock"></span> {{displayDate}}
            </div>
            <div class="note-category" title="{{localize 'FSC.Notes.Author'}}" style="background-color:{{authDisplay.color}};color:{{authDisplay.textColor}};">
                <span class="fa fa-pencil-alt"></span> {{authDisplay.name}}
            </div>
            {{#if repeats}}
            <div class="note-repeats note-category note-icon" title="{{repeatsText}}"><span class="fa fa-retweet"></span></div>
            {{/if}}
        </div>
        <div class="note-details">
            {{#each categories}}
            <div class="note-category" title="{{name}}" style="background-color:{{color}};color:{{textColor}};">
                {{name}}
            </div>
            {{/each}}
        </div>
        {{{enrichedContent}}}
        {{#if canEdit}}
        <div class="edit-controls">
            <button class="control fa fa-edit" id="scNoteEdit"> {{localize 'FSC.Edit'}}</button>
            <button class="control delete fa fa-trash" id="scNoteDelete"> {{localize 'FSC.Delete'}}</button>
        </div>
        {{/if}}
        {{else}}
        <h1>
            {{localize 'FSC.Notes.NewFor'}} {{object.monthDisplay}} {{object.day}}, {{object.year}}
            <span class="reminder note-category {{#if reminder}}selected{{/if}}"><label><input type="checkbox" /><span class="fa fa-bell"></span>{{localize 'FSC.Notes.Reminder'}}</label></span>
        </h1>
        <div class="form-group">
            <label for="scNoteTitle">{{localize 'FSC.Notes.Title'}}</label>
            <div class="form-fields">
                <input value="{{object.title}}" placeholder="{{localize 'FSC.Notes.New'}}" type="text" id="scNoteTitle" />
            </div>
            <p class="notes">{{localize 'FSC.Notes.TitleHelp'}}</p>
        </div>
        <div class="form-group">
            <label for="{{dateSelectorId}}">{{localize 'FSC.Notes.DateTime.Title'}}</label>
            <div class="form-fields">
                {{sc-date-selector id=dateSelectorId }}
            </div>
            <p class="notes">{{localize 'FSC.Notes.DateTime.Help'}}</p>
        </div>
        <div class="form-group">
            <label for="scNoteRepeats">{{localize 'FSC.Notes.Repeating'}}</label>
            <div class="form-fields">
                <select id="scNoteRepeats">
                    {{selectOptions repeatOptions selected=repeats localize=true}}
                </select>
            </div>
            <p class="notes">{{localize 'FSC.Notes.RepeatingHelp'}}</p>
        </div>
        <div class="form-group">
            <label for="scNoteVisibility">{{localize 'FSC.Notes.PlayerVisible'}}</label>
            <div class="form-fields">
                <input value="{{object.playerVisible}}" type="checkbox" id="scNoteVisibility" {{checked object.playerVisible}} {{#unless isGM}}disabled="disabled"{{/unless}} />
            </div>
            <p class="notes">{{localize 'FSC.Notes.PlayerVisibleHelp'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'FSC.Configuration.Notes.NoteCategories'}}</label>
            <div class="form-fields category-list">
                {{#each allCategories}}
                <label class="note-category" style="background-color: {{color}}; color:{{textColor}}"><input value="{{name}}" type="checkbox" name="scNoteCategories" {{checked selected}} /> {{name}}</label>
                {{/each}}
            </div>
            <p class="notes">{{localize 'FSC.Configuration.Notes.NoteCategoriesHelp'}}</p>
        </div>
        <h2>Details</h2>
        {{editor content=object.content target="content" owner=note.author button=enableRichTextEditButton editable=enableRichTextEditButton }}
        <div class="edit-controls">
            <button id="scSubmit" class="control save" type="submit" name="submit" title="{{localize 'FSC.Notes.Save'}}">
                <i class="far fa-save"></i> {{localize 'FSC.Notes.Save'}}
            </button>
        </div>
        {{/if}}
    </form>
</div>
