<div id="simpleCalendarSearch">
    <form autocomplete="off" onsubmit="event.preventDefault();">
        <label for="simpleCalendarSearchBox">{{localize 'FSC.SearchNotes'}}</label>
        <div class="search-box">
            <input id="simpleCalendarSearchBox" type="text" value="{{searchTerm}}" /><button class="control fa fa-search"></button>
        </div>
        <div class="note-list">
            {{#if results.length}}
            {{#each results}}
            <div class="note" data-index="{{id}}" >
                <div class="note-details-wrapper">
                    <h3 class="note-title">{{title}}</h3>
                    <div class="note-details">
                        {{#if ../isGM}}
                        {{#if playerVisible}}
                        <div class="note-category note-icon" style="color:#ffffff;background-color:#2f581d" title="{{localize 'FSC.Notes.PlayerVisible'}}">
                            <span class="fa fa-eye"></span>
                        </div>
                        {{else}}
                        <div class="note-category note-icon" style="color:#ffffff;background-color:#922121" title="{{localize 'FSC.Notes.NotPlayerVisible'}}">
                            <span class="fa fa-eye-slash"></span>
                        </div>
                        {{/if}}
                        {{/if}}
                        {{#if reminder}}
                        <div class="note-category note-icon" style="color:#ffffff;background-color:#2f581d" title="{{localize 'FSC.Notes.ReminderHelp'}}">
                            <span class="fa fa-bell"></span>
                        </div>
                        {{/if}}
                        <div class="note-time note-category" title="{{localize 'FSC.Notes.Time'}}">
                            <span class="fa fa-clock"></span>  {{#if allDay}}{{localize 'FSC.AllDay'}}{{else}}{{displayDate}}{{/if}}
                        </div>
                        {{#if authorDisplay}}
                        <div class="note-category" title="{{localize 'FSC.Notes.Author'}}" style="background-color:{{authorDisplay.color}};color:{{authorDisplay.textColor}};">
                            <span class="fa fa-pencil-alt"></span> {{authorDisplay.name}}
                        </div>
                        {{/if}}
                        {{#each categories}}
                        <div class="note-category" style="background-color:{{color}};color:{{textColor}};">
                            {{name}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div style="text-align: center;padding: 0.5rem 0.25rem;"><em>{{localize 'FSC.SearchEmpty'}}</em></div>
            {{/if}}
        </div>
    </form>
</div>
