@import "../variables";
.system-dsa5{
  .simple-calendar{
    &.window-app{
      .window-header{
        position: unset;
        min-height: unset;
        height: unset;

        .window-title{
          margin: 0;
          font-family: Roboto, sans-serif;
          text-align: left;
          font-weight: normal;
        }
        .header-button{
          margin-top: 0;
          &.close{
            margin-right: $spacer-half * 0.5;
          }
        }
      }
      .window-resizable-handle{
        bottom: -1px;
        right: 0;
      }
      &.classic{
        .window-title{
          text-align: center;
          margin-top: 3px;
        }
      }
    }
    &.fsc-simple-calendar-configuration{
      &:after{
        content: unset;
      }
    }
    &.journal-sheet{
      &:after{
        content: unset;
      }
      h1, h2, h3, h4, h5, h6{
        overflow: visible;
      }
    }
  }
}
