.system-wfrp4e{
  .simple-calendar{
    &.window-app {
      .fsc-actions-list {
        flex: 0 0 58px;
        width: 58px;
        margin-left: 0;
      }

      input{
        border: 1px solid;
      }

      .form-group{
        label{
          text-align: left;
          background: unset;
          border: 0;
          font-size: 1rem;
        }
        input, select{
          border: 1px solid;
          box-shadow: unset;
        }
      }
    }
  }
}
