.system-wfrp4e {
  .simple-calendar {
    &.window-app {
      .fsc-actions-list {
        flex: 0 0 58px;
        width: 58px;
        margin-left: 0;
      }

      input {
        border: 1px solid;
      }

      .form-group {
        label {
          text-align: left;
          background: unset;
          border: 0;
          font-size: 1rem;
        }

        input, select {
          border: 1px solid;
          box-shadow: unset;
        }
      }
    }

    &.classic {
      &.window-app {
        //Calendar Styling
        .fsc-calendar {
          background-color: #000000e8;
          border-color: #736953a6 !important;
          color: #efefef;

          .fsc-calendar-header {
            background-color: #000000e8;
          }

          .fsc-days {
            .fsc-week {
              .fsc-day {
                &:hover {
                  background-color: unset;
                  box-shadow: 0 0 8px #ff9f00;
                }

                &.fsc-current {
                  box-shadow: inset 0 0 5px #5c5cff;
                  background-color: #5c5cff;

                  &:hover {
                    background-color: #5c5cff;
                  }
                }

                &.fsc-selected {
                  box-shadow: inset 0 0 5px #40a94d;
                  background-color: #40a94d;

                  &:hover {
                    background-color: #40a94d;
                  }
                }

                .fsc-moons {
                  .fsc-moon-phase {
                    svg {
                      filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 1));
                    }
                  }
                }
              }
            }
          }
        }

        //Clock Styling
        .fsc-clock {
          background-color: #000000e8;
          border-color: #736953a6;
          color: #efefef;
        }

        //Note List Styling
        .fsc-side-drawer {
          color: #000000;
          background-color: #fff;
          background: url(/systems/wfrp4e/ui/frames/parchment-texture.webp) repeat;
          border-image: url(/systems/wfrp4e/ui/frames/chat-message-border-private.webp) 21 repeat;
          border-image-width: 10px;
          border-image-outset: 8px;
          border-radius: 0px;
        }

        .fsc-actions-list {
          flex: 0 0 58px;
          width: 58px;
          margin-left: 0;
        }

        input {
          border: 1px solid;
        }

        //Configuration Styling
        .fsc-configuration-wrapper {
          .tabs {
            .fsc-heading {
              border-bottom-color: $gray-700;
            }

            .fsc-tab-section {
              &.fsc-stripe {
                background-color: #ffffff;
                color: #000000;
              }

              .fsc-calendar-selector {
                ul {
                  box-shadow: 1px 1px 5px #000000;

                  li {
                    background-color: $gray-100;
                    border-color: #000000;

                    &.fsc-active, &:hover {
                      background-color: $gray-300;
                    }

                    &.fsc-new-calendar {
                      color: #2f581d;
                    }
                  }
                }
              }
            }
          }
        }

        .form-group {
          background-color: #000000e8;
          border-color: #736953a6;

          label {
            border: unset;
            color: #ccc6c6;
          }

          &:hover {
            background-color: #000000e8;
          }

          .notes {
            color: #BBB;
          }
        }
      }

      &.fsc-compact-view {
        .window-content {
          border: 2px solid #540e0ec2 !important;
          border-image-slice: 24 20 19 17 !important;
          border-image-width: 20px 20px 20px 20px !important;
          border-image-outset: 17px 14px 13px 14px !important;
          border-image-repeat: repeat repeat !important;
          border-image-source: url(/systems/wfrp4e/ui/players-border.webp) !important;
        }
      }

      &.journal-sheet {
        form {
          .fsc-edit-controls {
            * {
              flex: 0 25% !important;
            }
          }
        }
      }
    }
  }
}
