.system-wfrp4e{
  .simple-calendar{
    #simpleCalendar{
      .compact-calendar{
        margin: 0 -8px;
      }
    }

    #simpleCalendarSearch{
      .search-box{
        input{
          color: #ffffff;
          border-left: 1px solid;
          border-top: 1px solid;
          border-bottom: 1px solid;
        }
        .control{
          box-shadow: unset;
          height: 27px;
          margin-top: -1px;
        }
      }
    }
  }

  .simple-calendar-note{
    .window-content{
      background: url(/systems/wfrp4e/ui/frames/parchment-texture.webp) -43px -120px;
      padding: 25px;
      box-shadow: 0 0 30px black inset;
      font-family: CaslonPro;
      font-weight: 500;
      font-size: 14px;
      color: #000000;
      border: 10px solid blue;
      border-image: url(/systems/wfrp4e/ui/frames/window-app-journal-sheet-content.webp) 25 repeat;
      border-image-width: 25px;
      border-image-outset: 0px 0px 0px 0px;

      .form-group{
        label{
          color: #000;
          text-align: unset;
          border-width: 0;
          background: unset;
        }

        .notes{
          color: #4b4a44;
        }

        .note-category{
          input[type=checkbox]{
            top: 0;
            min-width: unset;
            margin-top: 0 !important;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
