@import "../variables";
.simple-calendar{
  &.dark{

    &.fsc-compact-view{
      .fsc-clock{
        background-color: $primary-1100;
      }
      .fsc-moons{
        .fsc-moon-group-wrapper {
          .fa{
            text-shadow: -2px -1px 0px black;
          }
          .fsc-moon-group {
            background-color: $primary-1000;
            border-color: $primary-600!important;
            box-shadow: 1px 1px 5px $boxShadowColor;
          }
        }
      }
      .fsc-time-keeper-buttons{
        .fsc-save{
          color: $success-900;
        }
        .fsc-secondary{
          color: $secondary;
          &:hover{
            color: $secondary;
          }
        }
        .fsc-delete{
          color: $danger-900;
        }
      }
    }

    a{
      color: $secondary;
      &:hover, &:active, &:focus{
        color: $secondary-800;
        text-shadow: unset;
      }
    }
    //Dialog Header
    header.window-header{
      background: $primary-1000;
      color: $white;
      font-size: 1rem;
      a{
        color: $white;
        &:hover, &:active, &:focus{
          color: $secondary;
          text-shadow: unset;
        }
      }
    }
    //Scrollbar Styling
    .window-content{
      background: $primary-1100 !important;
      color: $white !important;
      scrollbar-color: $primary $primary-600;

      &::-webkit-scrollbar-thumb{
        background: $primary;
        border-color:$primary-600;
      }
    }

    //Top message Styling
    .fsc-message{
      &.fsc-warn{
        background-color: $secondary-950;
        border-color: $secondary-900 !important;
      }
      &.fsc-success{
        background-color: $success-950;
        border-color: $success-900 !important;
      }
      &.fsc-info{
        background-color: $primary-950;
        border-color: $primary-900 !important;
      }
      &.fsc-danger{
        background-color: $danger-1000;
        border-color: $danger-950 !important;
      }
    }

    //Calendar Styling
    .fsc-calendar{
      background-color: $primary-950;
      border-color: $primary-200;
      color: $white;
      scrollbar-color: $primary $primary-600;
      &::-webkit-scrollbar-thumb{
        background: $primary;
        border-color:$primary-600;
      }

      .fsc-calendar-header{
        background-color: $primary-950;
      }

      .fsc-days{
        .fsc-week{
          .fsc-day{
            border-color: $primary-900;
            &:hover{
              background-color: $gray-700;
            }
            &.fsc-current{
              box-shadow: inset 0 0 5px $primary-200;
              background-color: $primary-800;
              &:hover{
                background-color: $primary;
              }
            }
            &.fsc-selected{
              box-shadow: inset 0 0 5px $success-200;
              background-color: $success-800;
              &:hover{
                background-color: $success;
              }
            }
            .fsc-day-notes{
              .fsc-note-count{
                background-color: $secondary;
                color: $fontColor;
                &.fsc-reminders{
                  background-color: $tertiary-300;
                }
              }
            }
            .fsc-moons{
              .fsc-moon-group-wrapper {
                .fa{
                  text-shadow: -2px -1px 0px black;
                }
                .fsc-moon-group {
                  background-color: $primary-1000;
                  border-color: $primary-600;
                  box-shadow: 1px 1px 5px $boxShadowColor;
                }
              }
              .fsc-moon-phase {
                svg {
                  filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.4));
                }
              }
            }
          }
        }
      }
    }

    // All control button colors
    .fsc-control{
      &.fsc-grey{
        border-color: $gray-600;
        background-color: $gray-600;
        color: $white;
        &:hover, &.active, &:focus {
          text-shadow: unset;
          color: $white;
          background-color: $gray-500;
          border-color: $gray-600;
        }
        &:disabled{
          color: $gray-300;
          cursor: not-allowed;
        }
      }
      &.fsc-primary {
        background-color: $primary-800;
        border-color: $primary-800;
        color: $white;

        &:hover, &.active, &:focus {
          background-color: $primary;
          border-color: $primary-800;
          color: $white;
        }
        &:disabled{
          background-color: $primary-T900;
          border-color: $primary-T900;
          color: $white;
          cursor: not-allowed;
        }
      }
      &.fsc-secondary {
        background-color: $secondary;
        border-color: $secondary;
        color: $fontColor;

        &:hover, &.active, &:focus {
          background-color: $secondary-300;
          border-color: $secondary;
          color: $fontColor;
        }
        &:disabled{
          background-color: $secondary-T900;
          border-color: $secondary-T900;
          color: $white;
          cursor: not-allowed;
        }
      }
      &.fsc-tertiary{
        background-color: $tertiary-300;
        border-color: $tertiary-300;
        color: $fontColor;

        &:hover, &.active, &:focus {
          background-color: $tertiary-200;
          border-color: $tertiary-300;
          color: $fontColor;
        }
        &:disabled{
          background-color: $tertiary-T900;
          border-color: $tertiary-T900;
          color: $white;
          cursor: not-allowed;
        }
      }
      &.fsc-delete {
        background-color: $danger-900;
        border-color: $danger-900;
        color: $white;

        &:hover, &.active, &:focus {
          background-color: $danger;
          border-color: $danger-900;
          color: $white;
        }
        &:disabled{
          background-color: $danger-T900;
          border-color: $danger-T900;
          color: $white;
          cursor: not-allowed;
        }
      }
      &.fsc-save {
        background-color: $success-900;
        border-color: $success-900;
        color: $white;

        &:hover, &.active, &:focus {
          background-color: $success;
          border-color: $success-900;
          color: $white;
        }
        &:disabled{
          background-color: $success-T900;
          border-color: $success-T900;
          color: $white;
          cursor: not-allowed;
        }
      }
    }
    .fsc-control-group{
      .fsc-control{
        border-right-color: $gray-500;
        &:first-child{
          border-left-color: $gray-600;
        }
        &:last-child{
          border-right-color: $gray-600;
        }

        &.fsc-primary{
          border-right-color: $primary;
          &:first-child{
            border-left-color: $primary-800;
          }
          &:last-child{
            border-right-color: $primary-800;
          }
        }
        &.fsc-secondary{
          border-right-color: $secondary-200;
          &:first-child{
            border-left-color: $secondary;
          }
          &:last-child{
            border-right-color: $secondary;
          }
        }
        &.fsc-tertiary{
          border-right-color: $tertiary;
          &:first-child{
            border-left-color: $tertiary-300;
          }
          &:last-child{
            border-right-color: $tertiary-300;
          }
        }
        &.fsc-delete{
          border-right-color: $danger;
          &:first-child{
            border-left-color: $danger-900;
          }
          &:last-child{
            border-right-color: $danger-900;
          }
        }
        &.fsc-save{
          border-right-color: $success;
          &:first-child{
            border-left-color: $success-900;
          }
          &:last-child{
            border-right-color: $success-900;
          }
        }
      }
    }
    .fsc-controls.fsc-unit-controls{
      .fsc-control-group{
        .fsc-unit-list{
          background-color: $primary-800;
          border-color: $primary;

          li{
            border-color: $primary;
            &.fsc-selected, &:hover{
              background-color: $primary;
            }
          }
        }
      }
    }

    //Inputs
    input, select, option{
      background-color: $gray-700 !important;
      border-color: $gray-500 !important;
      color: $white !important;
      &:focus{
        box-shadow: unset;
      }
    }

    //Clock Styling
    .fsc-clock{
      background-color: $primary-950;
      border-color: $primary-200;
      color: $white;
      .fsc-animated-clock{
        svg{
          path{
            fill: $danger-400;
            stroke: $danger-400;
          }
        }
      }
      &.started{
        .fsc-animated-clock{
          svg{
            path{
              fill: $success-400;
              stroke: $success-400;
            }
          }
        }
      }
      &.paused{
        .fsc-animated-clock{
          svg{
            path{
              fill: $secondary-400;
              stroke: $secondary-400;
            }
          }
        }
      }
    }

    //Date Selector Styling
    .fsc-date-selector-calendar-wrapper{
      background-color: $primary-950;
      border-color: $primary-950;
      box-shadow: 0 0 0 1px $gray-500;
    }

    //Time Selector Styling
    .fsc-time-selector{
      color: $white;
      .fsc-ts-inputs{
        background-color: $gray-700;
        border-color: $gray-500;
        input{
          color: $white;
          background-color: $gray-700;
          &:hover, &:focus{
            background-color: $gray-600;
          }
        }
        .fsc-dropdown{
          background-color: $gray-700;
          border-color: $gray-700;
          box-shadow: 2px 2px 2px $boxShadowColor;
          scrollbar-color: $primary $primary-600;
          &::-webkit-scrollbar-thumb{
            background: $primary;
            border-color:$primary-600;
          }

          li{
            &:nth-child(even){
              background-color: $gray-600;
            }
            &:hover{
              background-color: $primary-600;
            }
          }
        }
      }
    }

    //Calendar List Styling
    .fsc-calendar-list{
      scrollbar-color: $primary $primary-600;
      &::-webkit-scrollbar-thumb{
        background: $primary;
        border-color:$primary-600;
      }

      .fsc-calendar-display{
        color: $white;
        border-color: $primary-A400;
        &.fsc-active{
          background-color: $primary-800;
          &.fsc-visible{
            background-color: $primary-800;
            &:hover{
              background-color: $primary-800;
            }
          }
        }
        &.fsc-visible{
          background-color: $tertiary-600;
          &:hover{
            background-color: $tertiary-600;
          }
        }
        &:hover{
          background-color: $tertiary-400;
        }
        .fsc-calendar-actions{
          border-color: $primary-A400;
        }
        .fsc-animated-clock{
          svg{
            path{
              fill: $success-400;
              stroke: $success-400;
            }
          }
        }
      }
    }

    //Note List Styling
    .fsc-side-drawer{
      background-color: $primary-1000;
      border-color: $primary-1100;

      h2{
        border-bottom-color: $secondary;
      }
      .fsc-note-list{
        scrollbar-color: $primary $primary-600;
        &::-webkit-scrollbar-thumb{
          background: $primary;
          border-color:$primary-600;
        }
        .fsc-note{
          border-color: $primary-200;
          &:hover {
            background-color: $primary-800;
          }
          &.fsc-drag-active{
            background-color: $primary-800;
          }

          .fsc-note-details-wrapper{
            .fsc-note-details{
              .fsc-note-category{
                box-shadow: 1px 1px 5px $fontColor;

                &.fsc-player-visible{
                  background-color: $success-900;
                  border-color: $success-900;
                }
                &.fsc-not-player-visible{
                  background-color: $danger-900;
                  border-color: $danger-900;
                }
                &.fsc-reminder{
                  background-color: $tertiary-300;
                  border-color: $tertiary-300;
                  color: $fontColor;
                }
              }
            }
          }

          .fsc-sorting-dragger{
            border-color: $gray-600;
            background-color: $gray-600;
            box-shadow: 1px 1px 5px $fontColor;
          }
        }
      }
    }

    //Note Search Styling
    .fsc-search-box{
      input{
        &::placeholder{
          color:$gray-400;
          opacity: 1;
        }
      }
      .fsc-control{
        box-shadow: unset;
        background-color: $gray-700;
        border-color: $gray-500;
        color: $white;
        &:hover, &.active, &:focus {
          text-shadow: unset;
          color: $white;
          background-color: $gray-700;
          border-color: $gray-500;
        }
      }
    }

    //Configuration Styling
    .fsc-configuration-wrapper{
      .tabs{
        scrollbar-color: $primary $primary-600;
        &::-webkit-scrollbar-thumb{
          background: $primary;
          border-color:$primary-600;
        }
        .fsc-heading{
          color: $primary-A400;
          border-top-color: $primary-A200;
          border-bottom-color: $gray-700;
        }
        .fsc-tab-section{
          &.fsc-stripe{
            background-color: $primary-1000;
          }
          .fsc-calendar-selector{
            ul{
              box-shadow: 1px 1px 5px #000000;
              li{
                background-color: $primary-900;
                border-color: $primary-400;

                &.fsc-active,&:hover{
                  background-color: $primary-A400;
                  color: $fontColor;
                }
                &.fsc-new-calendar{
                  color: $success-200;
                  &.fsc-active,&:hover{
                    color: $fontColor;
                  }
                }
              }
            }
          }
        }
        .fsc-item{
          border-color: $gray-700;

          &.fsc-active, &.active, &:hover{
            background-color: $secondary;
            color: $fontColor;
          }
        }
      }
      .fsc-tab-wrapper{
        scrollbar-color: $primary $primary-600;
        &::-webkit-scrollbar-thumb{
          background: $primary;
          border-color:$primary-600;
        }
        h2{
          border-color: $secondary;
        }

        .fsc-warning{
          background-color: $secondary-A500;
          border-color: $secondary;
          color: $fontColor;
        }
        .fsc-section{
          h3{
            color: $primary-A200;
          }
        }
        .fsc-f-table{
          background-color: $primary-1000;
          border-color: $gray-600;
          .fsc-row{
            &.fsc-head{
              border-color: $gray-600;
            }
            &:nth-child(even) {
              background-color: rgba($primary-200,0.1);
            }
            .fsc-options{
              h3{
                border-color: $secondary;
              }
            }
          }
        }
        .fsc-import-export{
          .fsc-importing{
            .fsc-progress{
              background-color: $gray-700;
              border-color: $gray-500;
              .fsc-progress-bar{
                background-color: $tertiary-300;
              }
            }
          }
        }
        .fsc-quick-setup{
          .fsc-predefined-list{
            .fsc-predefined-calendar{
              color: $tertiary-A100;
              border-color: $tertiary-400;
              box-shadow: inset 0 0 5px $tertiary-A100;
              &.fsc-selected, &:hover{
                border-color: $tertiary-600;
                background-color: $tertiary-600;
                color: $white;
              }
            }
          }
        }
        .fsc-permissions{
          .fsc-table-header{
            border-color: $gray-600;
          }
        }
        .fsc-about{
          h1{
            border-color: $primary;
          }
          .fsc-row{
            .fsc-card{
              border-color: $primary-400;
              background-color: $primary-1000;
            }
          }
        }
      }
    }

    //Categories
    .fsc-note-category, label.fsc-note-category, .form-fields .fsc-note-category{
      color: $white;
      border-color: $gray-600;
      background-color: $gray-600;
    }
    //Form Groups
    .form-group{
      border-color:$gray-600;
      background-color: $primary-1000;
      &:hover{
        background-color: $primary-950;
      }
      label{
        color: $primary-A200;
      }
      .notes{
        color: $primary-50;
      }
      input, select{
        background-color: $gray-700;
        border-color: $gray-500;
        color: $white;
        &:focus{
          box-shadow: unset;
        }
      }
    }
    .fsc-compact-form-group{
      border-color:$gray-300;
      background-color: $primary-1000;

      > input, > select, > button {
        background-color: unset !important;
      }
      input[type=checkbox]{
        border-color: $white !important;

        &:checked{
          border-color: $primary-A500 !important;
          background-color: $primary-A500 !important;
          -webkit-filter: unset;
        }
      }
      > .fsc-date-selector{
        > input{
          background-color: unset !important;
        }
      }
      > .fsc-multiselect{
        > button{
          background-color: unset !important;
        }
      }
      option{
        background-color: $primary-900 !important;
      }
      button{
        color: $white;
      }
      label{
        color: $primary-A200;
      }
      .file-picker{
        cursor: pointer;
        background-color: $primary-800 !important;
        border-color: $primary-800;
        color: $white;

        &:hover, &.active, &:focus {
          box-shadow: unset;
          background-color: $primary !important;
          border-color: $primary-800;
          color: $white;
        }
      }
      .fsc-form-group-help{
        color: $secondary;
      }
    }

    //Multi Select
    .fsc-multiselect{
      .fsc-multi-select-options{
        border-color: $gray-600;
        li{
          background-color: $primary-900;
          &:hover{
            background-color: $primary-400;
          }
          &.fsc-disabled{
            color: $gray-400;
            background-color: $gray-700;
          }
        }
      }
    }


    //Journal Sheet
    &.journal-sheet{
      h1, h2{
        border-color: $secondary;
      }
      a.entity-link, a.content-link, a.inline-roll{
        background-color: $primary-700;
        border-color: $primary-400;
        i {
          color: $secondary;
        }
        &:hover{
          i{
            color:$secondary-800;
          }
        }
      }
      .fsc-page-list{
        border-color: $primary-A200;
        .fsc-list-of-pages{
          li{
            &:hover, &.fsc-current{
              background-color: $primary-800;
            }
          }
        }
      }
      .fsc-image-placeholder{
        background-color: $gray-800;
        i{
          opacity: 0.5;
        }
      }
    }

    //Migration Dialog
    .fsc-migration-wrapper{
      .fsc-migration-actions{
        .fsc-status-indicator{
          .fsc-running{
            color: $secondary;
          }
          .fsc-completed{
            color: $success;
          }
          .fsc-error{
            color: $danger;
          }
          .fsc-cancel{
            color: $gray-400;
          }
        }
      }
    }
  }
}