@import "../variables";
.simple-calendar{
  &.dark{

    &.compact-view{
      .sc-clock{
        background-color: $primary-1100;
      }
      .time-keeper-buttons{
        .save{
          color: $success-900;
        }
        .secondary{
          color: $secondary;
          &:hover{
            color: $secondary;
          }
        }
        .delete{
          color: $danger-900;
        }
      }
    }

    a{
      color: $secondary;
      &:hover, &:active, &:focus{
        color: $secondary-800;
        text-shadow: unset;
      }
    }
    //Dialog Header
    header{
      background: $primary-1000;
      color: $white;
      font-size: 1rem;
      a{
        color: $white;
        &:hover, &:active, &:focus{
          color: $secondary;
          text-shadow: unset;
        }
      }
    }
    //Scrollbar Styling
    .window-content{
      background: $primary-1100;
      color: $white;
      scrollbar-color: $primary $primary-600;

      &::-webkit-scrollbar-thumb{
        background: $primary;
        border-color:$primary-600;
      }
    }

    //Calendar Styling
    .calendar{
      background-color: $primary-950;
      border-color: $primary-200;
      color: $white;
      scrollbar-color: $primary $primary-600;
      &::-webkit-scrollbar-thumb{
        background: $primary;
        border-color:$primary-600;
      }

      .calendar-header{
        background-color: $primary-950;
      }

      .days{
        .week{
          .day{
            &:hover{
              background-color: $gray-700;
            }
            &.current{
              box-shadow: inset 0 0 5px $primary-200;
              background-color: $primary-800;
              &:hover{
                background-color: $primary;
              }
            }
            &.selected{
              box-shadow: inset 0 0 5px $success-200;
              background-color: $success-800;
              &:hover{
                background-color: $success;
              }
            }
            .day-notes{
              .note-count{
                background-color: $secondary;
                color: $fontColor;
                &.reminders{
                  background-color: $tertiary-300;
                }
              }
            }
            .moons{
              .moon-phase {
                svg {
                  filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.4));
                }
              }
            }
          }
        }
      }
    }

    // All control button colors
    .control{
      border-color: $gray-600;
      background-color: $gray-600;
      color: $white;
      &:hover {
        text-shadow: unset;
        color: $white;
        background-color: $gray-500;
      }
      &.primary {
        background-color: $primary-800;
        border-color: $primary-800;

        &:hover {
          background-color: $primary;
        }
      }
      &.secondary {
        background-color: $secondary;
        border-color: $secondary;
        color: $fontColor;

        &:hover {
          background-color: $secondary-300;
          color: $fontColor;
        }
      }
      &.tertiary{
        background-color: $tertiary-300;
        border-color: $tertiary-300;
        color: $fontColor;

        &:hover {
          background-color: $tertiary-200;
          color: $fontColor;
        }
      }
      &.delete {
        background-color: $danger-900;
        border-color: $danger-900;

        &:hover {
          background-color: $danger;
        }
      }
      &.save {
        background-color: $success-900;
        border-color: $success-900;

        &:hover {
          background-color: $success;
        }
      }
    }
    .control-group{
      .control{
        border-right-color: $gray-500;
        &:first-child{
          border-left-color: $gray-600;
        }
        &:last-child{
          border-right-color: $gray-600;
        }

        &.primary{
          border-right-color: $primary;
          &:first-child{
            border-left-color: $primary-800;
          }
          &:last-child{
            border-right-color: $primary-800;
          }
        }
        &.secondary{
          border-right-color: $secondary-200;
          &:first-child{
            border-left-color: $secondary;
          }
          &:last-child{
            border-right-color: $secondary;
          }
        }
        &.delete{
          border-right-color: $danger;
          &:first-child{
            border-left-color: $danger-900;
          }
          &:last-child{
            border-right-color: $danger-900;
          }
        }
        &.save{
          border-right-color: $success;
          &:first-child{
            border-left-color: $success-900;
          }
          &:last-child{
            border-right-color: $success-900;
          }
        }
      }
    }
    .controls.unit-controls{
      .control-group{
        .unit-list{
          background-color: $primary-800;
          border-color: $primary;

          li{
            border-color: $primary;
            &.selected, &:hover{
              background-color: $primary;
            }
          }
        }
      }
    }

    //Inputs
    input, select{
      background-color: $gray-700;
      border-color: $gray-500;
      color: $white;
      &:focus{
        box-shadow: unset;
      }
    }

    //Clock Styling
    .sc-clock{
      background-color: $primary-950;
      border-color: $primary-200;
      .animated-clock{
        svg{
          path{
            fill: $danger-400;
            stroke: $danger-400;
          }
        }
      }
      &.started{
        .animated-clock{
          svg{
            path{
              fill: $success-400;
              stroke: $success-400;
            }
          }
        }
      }
      &.paused{
        .animated-clock{
          svg{
            path{
              fill: $secondary-400;
              stroke: $secondary-400;
            }
          }
        }
      }
    }

    //Date Selector Styling
    .sc-date-selector-calendar-wrapper{
      background-color: $primary-950;
      border-color: $primary-950;
      box-shadow: 2px 2px 2px $boxShadowColor;
    }

    //Time Selector Styling
    .time-selector{
      color: $white;
      .sc-ts-inputs{
        background-color: $gray-700;
        border-color: $gray-500;
        input{
          color: $white;
          background-color: $gray-700;
          &:hover, &:focus{
            background-color: $gray-600;
          }
        }
        .dropdown{
          background-color: $gray-700;
          border-color: $gray-700;
          box-shadow: 2px 2px 2px $boxShadowColor;
          scrollbar-color: $primary $primary-600;
          &::-webkit-scrollbar-thumb{
            background: $primary;
            border-color:$primary-600;
          }

          li{
            &:nth-child(even){
              background-color: $gray-600;
            }
            &:hover{
              background-color: $primary-600;
            }
          }
        }
      }
    }

    //Calendar List Styling
    .sc-calendar-list{
      scrollbar-color: $primary $primary-600;
      &::-webkit-scrollbar-thumb{
        background: $primary;
        border-color:$primary-600;
      }

      .calendar-display{
        color: $white;
        border-color: $primary-A400;
        box-shadow: inset 0 0 5px $primary-200;
        &.selected, &:hover{
          border-color: $success-800;
          background-color: $success-800;
          box-shadow: inset 0 0 5px $success-200;
        }
        &.active{
          border-color: $primary-800;
          background-color: $primary-800;
        }
        .animated-clock{
          svg{
            path{
              fill: $success-400;
              stroke: $success-400;
            }
          }
        }
      }
    }

    //Note List Styling
    .sc-side-drawer{
      background-color: $primary-1000;
      border-color: $primary-1100;

      h2{
        border-bottom-color: $secondary;
      }
      .note-list{
        scrollbar-color: $primary $primary-600;
        &::-webkit-scrollbar-thumb{
          background: $primary;
          border-color:$primary-600;
        }
        .note{
          border-color: $primary-200;
          &:hover {
            background-color: $primary-800;
          }
          &.drag-active{
            background-color: $primary-800;
          }

          .note-details-wrapper{
            .note-details{
              .note-category{
                box-shadow: 1px 1px 5px $fontColor;

                &.player-visible{
                  background-color: $success-900;
                  border-color: $success-900;
                }
                &.not-player-visible{
                  background-color: $danger-900;
                  border-color: $danger-900;
                }
                &.reminder{
                  background-color: $tertiary-300;
                  border-color: $tertiary-300;
                  color: $fontColor;
                }
                &.note-time{
                  border-color: $gray-600;
                  background-color: $gray-600;
                }
              }
            }
          }

          .sorting-dragger{
            border-color: $gray-600;
            background-color: $gray-600;
            box-shadow: 1px 1px 5px $fontColor;
          }
        }
      }
    }

    //Note Search Styling
    .sc-note-search{
      .search-box{
        .control{
          box-shadow: unset;
          background-color: $gray-700;
          border-color: $gray-500;
        }
      }
    }

    //Configuration Styling
    .sc-configuration-wrapper{
      .tabs{
        scrollbar-color: $primary $primary-600;
        &::-webkit-scrollbar-thumb{
          background: $primary;
          border-color:$primary-600;
        }
        .heading{
          color: $primary-A400;
          border-top-color: $primary-A200;
          border-bottom-color: $gray-700;
        }
        .tab-section{
          &.stripe{
            background-color: $primary-1000;
          }
          .calendar-selector{
            ul{
              box-shadow: 1px 1px 5px #000000;
              li{
                background-color: $primary-900;
                border-color: $primary-400;

                &.active,&:hover{
                  background-color: $primary-A400;
                  color: $fontColor;
                }
                &.new-calendar{
                  color: $success-200;
                  &.active,&:hover{
                    color: $fontColor;
                  }
                }
              }
            }
          }
        }
        .item{
          border-color: $gray-700;

          &.active, &:hover{
            background-color: $secondary;
            color: $fontColor;
          }
        }
      }
      .tab-wrapper{
        scrollbar-color: $primary $primary-600;
        &::-webkit-scrollbar-thumb{
          background: $primary;
          border-color:$primary-600;
        }
        h2{
          border-color: $secondary;
        }
        .form-group{
          border-color:$gray-600;
          background-color: $primary-1000;
          label{
            color: $primary-A200;
          }
          .notes{
            color: $primary-50;
          }
        }
        .warning{
          background-color: $secondary-A500;
          border-color: $secondary;
          color: $fontColor;
        }
        .section{
          h3{
            color: $primary-A200;
          }
        }
        .f-table{
          background-color: $primary-1000;
          border-color: $gray-600;
          .row{
            &.head{
              border-color: $gray-600;
            }
            &:nth-child(even) {
              background-color: rgba($primary-200,0.1);
            }
            .options{
              h3{
                border-color: $secondary;
              }
            }
          }
        }
        .quick-setup{
          .predefined-list{
            .predefined-calendar{
              color: $tertiary-A100;
              border-color: $tertiary-400;
              box-shadow: inset 0 0 5px $tertiary-A100;
              &.selected, &:hover{
                border-color: $tertiary-600;
                background-color: $tertiary-600;
                color: $white;
              }
            }
          }
        }
        .permissions{
          .table-header{
            border-color: $gray-600;
          }
        }
      }
    }
  }
}