@import "../variables";
.simple-calendar{
  &.light{

    &.compact-view{
      .sc-clock{
        background-color: $primary-100;
      }
      .time-keeper-buttons{
        .save{
          color: $success-900;
        }
        .secondary{
          color: $secondary;
          &:hover{
            color: $secondary;
          }
        }
        .delete{
          color: $danger-900;
        }
      }
    }

    a{
      color: $tertiary;
      &:hover, &:active, &:focus{
        color: $tertiary-400;
        text-shadow: unset;
      }
    }
    //Dialog Header
    header{
      background: $primary-A100;
      color: $fontColor;
      font-size: 1rem;
      a{
        color: $fontColor;
        &:hover, &:active, &:focus{
          color: $secondary-700;
          text-shadow: unset;
        }
      }
    }
    //Scrollbar Styling
    .window-content{
      background: $primary-50;
      color: $fontColor;
      scrollbar-color: $primary $primary-600;

      &::-webkit-scrollbar-thumb{
        background: $primary;
        border-color:$primary-600;
      }
    }

    //Top message Styling
    .message{
      background-color: $secondary-100;
      border-color: $secondary !important;
    }

    //Calendar Styling
    .calendar{
      background-color: $primary-100;
      border-color: $primary-950;
      color: $fontColor;
      scrollbar-color: $primary $primary-600;
      &::-webkit-scrollbar-thumb{
        background: $primary;
        border-color:$primary-600;
      }

      .calendar-header{
        background-color: $primary-100;
      }

      .days{
        .week{
          .day{
            &:hover{
              background-color: $gray-300;
            }
            &.current{
              box-shadow: inset 0 0 5px $primary-900;
              background-color: $primary-300;
              &:hover{
                background-color: $primary;
              }
            }
            &.selected{
              box-shadow: inset 0 0 5px $success-900;
              background-color: $success-300;
              &:hover{
                background-color: $success;
              }
            }
            .day-notes{
              .note-count{
                background-color: $secondary;
                color: $fontColor;
                &.reminders{
                  background-color: $tertiary-300;
                }
              }
            }
            .moons{
              .moon-phase {
                svg {
                  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));
                }
              }
            }
          }
        }
      }
    }

    // All control button colors
    .control{
      border-color: $gray-500;
      background-color: $gray-500;
      color: $fontColor;
      &:hover, &.active {
        text-shadow: unset;
        background-color: $gray-400;
        border-color: $gray-700;
      }
      &:disabled{
        color: $gray-700;
        cursor: pointer;
      }
      &.primary {
        background-color: $primary-A200;
        border-color: $primary-A200;

        &:hover, &.active {
          background-color: $primary-A100;
          border-color: $primary-A100;
        }
        &:disabled{
          background-color: $primary-T200;
          border-color: $primary-T200;
        }
      }
      &.secondary {
        background-color: $secondary-400;
        border-color: $secondary-400;

        &:hover, &.active {
          background-color: $secondary-300;
          border-color: $secondary-300;
        }
        &:disabled{
          background-color: $secondary-T400;
          border-color: $secondary-T400;
        }
      }
      &.tertiary{
        background-color: $tertiary-A100;
        border-color: $tertiary-A100;

        &:hover, &.active {
          background-color: $tertiary-A200;
          border-color: $tertiary-A200;
        }
        &:disabled{
          background-color: $tertiary-T100;
          border-color: $tertiary-T100;
        }
      }
      &.delete {
        background-color: $danger-A500;
        border-color: $danger-A500;

        &:hover, &.active {
          background-color: $danger-A400;
          border-color: $danger-A400;
        }
        &:disabled{
          background-color: $danger-T400;
          border-color: $danger-T400;
        }
      }
      &.save {
        background-color: $success-400;
        border-color: $success-400;

        &:hover, &.active {
          background-color: $success-300;
          border-color: $success-300;
        }
        &:disabled{
          background-color: $success-T400;
          border-color: $success-T400;
        }
      }
    }
    .control-group{
      .control{
        border-right-color: $gray-700;
        &:first-child{
          border-left-color: $gray-500;
        }
        &:last-child{
          border-right-color: $gray-500;
        }

        &.primary{
          border-right-color: $primary-400;
          &:first-child{
            border-left-color: $primary-A200;
          }
          &:last-child{
            border-right-color: $primary-A200;
          }
        }
        &.secondary{
          border-right-color: $secondary-800;
          &:first-child{
            border-left-color: $secondary-300;
          }
          &:last-child{
            border-right-color: $secondary-300;
          }
        }
        &.tertiary{
          border-right-color: $tertiary-400;
          &:first-child{
            border-left-color: $tertiary-A200;
          }
          &:last-child{
            border-right-color: $tertiary-A200;
          }
        }
        &.delete{
          border-right-color: $danger-800;
          &:first-child{
            border-left-color: $danger-A500;
          }
          &:last-child{
            border-right-color: $danger-A500;
          }
        }
        &.save{
          border-right-color: $success-800;
          &:first-child{
            border-left-color: $success-400;
          }
          &:last-child{
            border-right-color: $success-400;
          }
        }
      }
    }
    .controls.unit-controls{
      .control-group{
        .unit-list{
          background-color: $primary-A200;
          border-color: $primary-A400;
          color: $fontColor;

          li{
            border-color: $primary-A400;
            &.selected, &:hover{
              background-color: $primary-A100;
            }
          }
        }
      }
    }

    //Inputs
    input, select{
      background-color: $gray-400;
      color: $fontColor;
      &:focus{
        box-shadow: unset;
      }
    }

    //Clock Styling
    .sc-clock{
      background-color: $primary-100;
      border-color: $primary-950;
      .animated-clock{
        svg{
          filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
          path{
            fill: $danger-600;
            stroke: $danger-600;
          }
        }
      }
      &.started{
        .animated-clock{
          svg{
            path{
              fill: $success-600;
              stroke: $success-600;
            }
          }
        }
      }
      &.paused{
        .animated-clock{
          svg{
            path{
              fill: $secondary-800;
              stroke: $secondary-800;
            }
          }
        }
      }
    }

    //Date Selector Styling
    .sc-date-selector-calendar-wrapper{
      background-color: $primary-100;
      border-color: $primary-100;
      box-shadow: 2px 2px 2px $boxShadowColor;
    }

    //Time Selector Styling
    .time-selector{
      color: $fontColor;
      .sc-ts-inputs{
        background-color: $gray-500;
        input{
          color: $fontColor;
          background-color: $gray-500;
          &:hover, &:focus{
            background-color: $gray-400;
          }
        }
        .dropdown{
          background-color: $gray-500;
          border-color: $gray-500;
          box-shadow: 2px 2px 2px $boxShadowColor;
          scrollbar-color: $primary $primary-600;
          &::-webkit-scrollbar-thumb{
            background: $primary;
            border-color:$primary-600;
          }

          li{
            &:nth-child(even){
              background-color: $gray-400;
            }
            &:hover{
              background-color: $primary-300;
            }
          }
        }
      }
    }

    //Calendar List Styling
    .sc-calendar-list{
      scrollbar-color: $primary $primary-600;
      &::-webkit-scrollbar-thumb{
        background: $primary;
        border-color:$primary-600;
      }

      .calendar-display{
        color: $fontColor;
        border-color: $primary-800;
        &.active{
          background-color: $primary;
          color: $white;
        }
        &.visible{
          background-color: $tertiary-200;
        }
        &.clickable{
          &:hover{
            background-color: $primary-300;
          }
        }
        .calendar-actions{
          border-color: $primary-800;
        }
        .animated-clock{
          svg{
            path{
              fill: $success-400;
              stroke: $success-400;
            }
          }
        }
      }
    }

    //Note List Styling
    .sc-side-drawer{
      background-color: $primary-100;
      border-color: $primary-900;

      h2{
        border-bottom-color: $secondary;
      }
      .note-list{
        scrollbar-color: $primary $primary-600;
        &::-webkit-scrollbar-thumb{
          background: $primary;
          border-color:$primary-600;
        }
        .note{
          border-color: $primary-200;
          &:hover {
            background-color: $primary-300;
          }
          &.drag-active{
            background-color: $primary-300;
          }

          .note-details-wrapper{
            .note-details{
              .note-category{
                box-shadow: 1px 1px 5px $fontColor;

                &.player-visible{
                  background-color: $success-400;
                  border-color: $success-400;
                }
                &.not-player-visible{
                  background-color: $danger-400;
                  border-color: $danger-400;
                }
                &.reminder{
                  background-color: $tertiary-200;
                  border-color: $tertiary-200;
                }
                &.note-time{
                  border-color: $gray-500;
                  background-color: $gray-500;
                }
              }
            }
          }

          .sorting-dragger{
            border-color: $gray-500;
            background-color: $gray-500;
            box-shadow: 1px 1px 5px $fontColor;
          }
        }
      }
    }

    //Note Search Styling
    .sc-note-search{
      .search-box{
        .control{
          box-shadow: unset;
          background-color: $gray-400;
          border-color: #7a7971;
        }
      }
    }

    //Configuration Styling
    .sc-configuration-wrapper{
      .tabs{
        scrollbar-color: $primary $primary-600;
        &::-webkit-scrollbar-thumb{
          background: $primary;
          border-color:$primary-600;
        }
        .heading{
          color: $primary-600;
          border-top-color: $primary-200;
          border-bottom-color: $gray-500;
        }
        .tab-section{
          &.stripe{
            background-color: $primary-100;
          }
          .calendar-selector{
            ul{
              box-shadow: 1px 1px 5px #000000;
              li{
                background-color: $primary-200;
                border-color: $primary-400;

                &.active,&:hover{
                  background-color: $primary-A400;
                  color: $fontColor;
                }
                &.new-calendar{
                  color: $success-900;
                  &.active,&:hover{
                    color: $fontColor;
                  }
                }
              }
            }
          }
        }
        .item{
          border-color: $gray-500;

          &.active, &:hover{
            background-color: $tertiary;
            color: $white;
          }
        }
      }
      .tab-wrapper{
        scrollbar-color: $primary $primary-600;
        &::-webkit-scrollbar-thumb{
          background: $primary;
          border-color:$primary-600;
        }
        h2{
          border-color: $tertiary;
        }

        .warning{
          background-color: $secondary-A500;
          border-color: $secondary;
          color: $fontColor;
        }
        .section{
          h3{
            color: $primary-A200;
          }
        }
        .f-table{
          background-color: $primary-100;
          border-color: $gray-500;
          .row{
            &.head{
              border-color: $gray-500;
            }
            &:nth-child(even) {
              background-color: rgba($primary-1000,0.1);
            }
            .options{
              h3{
                border-color: $tertiary;
              }
            }
          }
        }
        .import-export{
          .importing{
            .progress{
              background-color: $gray-300;
              border-color: $gray-500;
              .progress-bar{
                background-color: $tertiary-300;
              }
            }
          }
        }
        .quick-setup{
          .predefined-list{
            .predefined-calendar{
              color: $primary-1000;
              border-color: $primary-950;
              box-shadow: inset 0 0 5px $primary-400;
              &.selected, &:hover{
                border-color: $primary-400;
                background-color: $primary-950;
                color: $white;
                box-shadow: inset 0 0 5px $primary-400;
              }
            }
          }
        }
        .permissions{
          .table-header{
            border-color: $gray-600;
          }
        }
        .about{
          h1{
            border-color: $primary;
          }
          .row{
            .card{
              border-color: $primary-400;
              background-color: $primary-100;
            }
          }
        }
      }
    }

    //Form Groups
    .form-group{
      border-color:$gray-600;
      background-color: $primary-100;
      &:hover{
        background-color: $primary-150;
      }
      label{
        color: $tertiary-A500;
      }
      .notes{
        color: $primary-1100;
      }
    }
  }
}