@import "../variables";
.simple-calendar{
  &.light{

    &.fsc-compact-view{
      .fsc-clock{
        background-color: $primary-50;
      }
      .fsc-moons{
        .fsc-moon-group-wrapper {
          .fa{
            text-shadow: -2px -1px 0px $white;
          }
          .fsc-moon-group {
            background-color: $primary-200;
            border-color: $primary-600!important;
            box-shadow: 1px 1px 5px $boxShadowColor;
          }
        }
      }
      .fsc-time-keeper-buttons{
        .fsc-save{
          color: $success-900;
        }
        .fsc-secondary{
          color: $secondary;
          &:hover{
            color: $secondary;
          }
        }
        .fsc-delete{
          color: $danger-900;
        }
      }
    }

    a{
      color: $tertiary;
      &:hover, &:active, &:focus{
        color: $tertiary-400;
        text-shadow: unset;
      }
    }
    //Dialog Header
    header{
      background: $primary-A100;
      color: $fontColor;
      font-size: 1rem;
      a{
        color: $fontColor;
        &:hover, &:active, &:focus{
          color: $secondary-700;
          text-shadow: unset;
        }
      }
    }
    //Scrollbar Styling
    .window-content{
      background: $primary-50 !important;
      color: $fontColor !important;
      scrollbar-color: $primary $primary-600;

      &::-webkit-scrollbar-thumb{
        background: $primary;
        border-color:$primary-600;
      }
    }

    //Top message Styling
    .fsc-message{
      &.fsc-warn{
        background-color: $secondary-100;
        border-color: $secondary !important;
      }
      &.fsc-success{
        background-color: $success-100;
        border-color: $success !important;
      }
      &.fsc-info{
        background-color: $primary-100;
        border-color: $primary !important;
      }
      &.fsc-danger{
        background-color: $danger-100;
        border-color: $danger!important;
      }
    }

    //Calendar Styling
    .fsc-calendar{
      background-color: $primary-100;
      border-color: $primary-950;
      color: $fontColor;
      scrollbar-color: $primary $primary-600;
      &::-webkit-scrollbar-thumb{
        background: $primary;
        border-color:$primary-600;
      }

      .fsc-calendar-header{
        background-color: $primary-100;
      }

      .fsc-days{
        .fsc-week{
          .fsc-day{
            border-color: $primary-200;
            &:hover{
              background-color: $gray-300;
            }
            &.fsc-current{
              box-shadow: inset 0 0 5px $primary-900;
              background-color: $primary-300;
              &:hover{
                background-color: $primary;
              }
            }
            &.fsc-selected{
              box-shadow: inset 0 0 5px $success-900;
              background-color: $success-300;
              &:hover{
                background-color: $success;
              }
            }
            .fsc-day-notes{
              .fsc-note-count{
                background-color: $secondary;
                color: $fontColor;
                &.fsc-reminders{
                  background-color: $tertiary-300;
                }
              }
            }
            .fsc-moons{
              .fsc-moon-group-wrapper {
                .fa{
                  text-shadow: -2px -1px 0px $white;
                }
                .fsc-moon-group {
                  background-color: $primary-200;
                  border-color: $primary-600;
                  box-shadow: 1px 1px 5px $boxShadowColor;
                }
              }
              .fsc-moon-phase {
                svg {
                  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));
                }
              }
            }
          }
        }
      }
    }

    // All control button colors
    .fsc-control{
      &.fsc-grey{
        border-color: $gray-500;
        background-color: $gray-500;
        color: $fontColor;
        &:hover, &.active, &:focus {
          text-shadow: unset;
          background-color: $gray-400;
          border-color: $gray-700;
          color: $fontColor;
        }
        &:disabled{
          color: $gray-700;
          cursor: not-allowed;
        }
      }
      &.fsc-primary {
        background-color: $primary-A200;
        border-color: $primary-A200;
        color: $fontColor;

        &:hover, &.active, &:focus {
          background-color: $primary-A100;
          border-color: $primary-A100;
          color: $fontColor;
        }
        &:disabled{
          background-color: $primary-T200;
          border-color: $primary-T200;
          color: $fontColor;
          cursor: not-allowed;
        }
      }
      &.fsc-secondary {
        background-color: $secondary-400;
        border-color: $secondary-400;
        color: $fontColor;

        &:hover, &.active, &:focus {
          background-color: $secondary-300;
          border-color: $secondary-300;
          color: $fontColor;
        }
        &:disabled{
          background-color: $secondary-T400;
          border-color: $secondary-T400;
          color: $fontColor;
          cursor: not-allowed;
        }
      }
      &.fsc-tertiary{
        background-color: $tertiary-A100;
        border-color: $tertiary-A100;
        color: $fontColor;

        &:hover, &.active, &:focus {
          background-color: $tertiary-A200;
          border-color: $tertiary-A200;
          color: $fontColor;
        }
        &:disabled{
          background-color: $tertiary-T100;
          border-color: $tertiary-T100;
          color: $fontColor;
          cursor: not-allowed;
        }
      }
      &.fsc-delete {
        background-color: $danger-A500;
        border-color: $danger-A500;
        color: $fontColor;

        &:hover, &.active, &:focus {
          background-color: $danger-A400;
          border-color: $danger-A400;
          color: $fontColor;
        }
        &:disabled{
          background-color: $danger-T400;
          border-color: $danger-T400;
          color: $fontColor;
          cursor: not-allowed;
        }
      }
      &.fsc-save {
        background-color: $success-400;
        border-color: $success-400;
        color: $fontColor;

        &:hover, &.active, &:focus {
          background-color: $success-300;
          border-color: $success-300;
          color: $fontColor;
        }
        &:disabled{
          background-color: $success-T400;
          border-color: $success-T400;
          color: $fontColor;
          cursor: not-allowed;
        }
      }
    }
    .fsc-control-group{
      .fsc-control{
        border-right-color: $gray-700;
        &:first-child{
          border-left-color: $gray-500;
        }
        &:last-child{
          border-right-color: $gray-500;
        }

        &.fsc-primary{
          border-right-color: $primary-400;
          &:first-child{
            border-left-color: $primary-A200;
          }
          &:last-child{
            border-right-color: $primary-A200;
          }
        }
        &.fsc-secondary{
          border-right-color: $secondary-800;
          &:first-child{
            border-left-color: $secondary-300;
          }
          &:last-child{
            border-right-color: $secondary-300;
          }
        }
        &.fsc-tertiary{
          border-right-color: $tertiary-400;
          &:first-child{
            border-left-color: $tertiary-A200;
          }
          &:last-child{
            border-right-color: $tertiary-A200;
          }
        }
        &.fsc-delete{
          border-right-color: $danger-800;
          &:first-child{
            border-left-color: $danger-A500;
          }
          &:last-child{
            border-right-color: $danger-A500;
          }
        }
        &.fsc-save{
          border-right-color: $success-800;
          &:first-child{
            border-left-color: $success-400;
          }
          &:last-child{
            border-right-color: $success-400;
          }
        }
      }
    }
    .fsc-controls.fsc-unit-controls{
      .fsc-control-group{
        .fsc-unit-list{
          background-color: $primary-A200;
          border-color: $primary-A400;
          color: $fontColor;

          li{
            border-color: $primary-A400;
            &.fsc-selected, &:hover{
              background-color: $primary-A100;
            }
          }
        }
      }
    }

    //Inputs
    input, select, option{
      background-color: $gray-400 !important;
      color: $fontColor !important;
      &:focus{
        box-shadow: unset;
      }
    }

    //Clock Styling
    .fsc-clock{
      background-color: $primary-100;
      border-color: $primary-950;
      color: $fontColor;
      .fsc-animated-clock{
        svg{
          filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
          path{
            fill: $danger-600;
            stroke: $danger-600;
          }
        }
      }
      &.started{
        .fsc-animated-clock{
          svg{
            path{
              fill: $success-600;
              stroke: $success-600;
            }
          }
        }
      }
      &.paused{
        .fsc-animated-clock{
          svg{
            path{
              fill: $secondary-800;
              stroke: $secondary-800;
            }
          }
        }
      }
    }

    //Date Selector Styling
    .fsc-date-selector-calendar-wrapper{
      background-color: $primary-100;
      border-color: $primary-100;
      box-shadow: 2px 2px 2px $boxShadowColor;
    }

    //Time Selector Styling
    .fsc-time-selector{
      color: $fontColor;
      .fsc-ts-inputs{
        background-color: $gray-500;
        input{
          color: $fontColor;
          background-color: $gray-500;
          &:hover, &:focus{
            background-color: $gray-400;
          }
        }
        .fsc-dropdown{
          background-color: $gray-500;
          border-color: $gray-500;
          box-shadow: 2px 2px 2px $boxShadowColor;
          scrollbar-color: $primary $primary-600;
          &::-webkit-scrollbar-thumb{
            background: $primary;
            border-color:$primary-600;
          }

          li{
            &:nth-child(even){
              background-color: $gray-400;
            }
            &:hover{
              background-color: $primary-300;
            }
          }
        }
      }
    }

    //Calendar List Styling
    .fsc-calendar-list{
      scrollbar-color: $primary $primary-600;
      &::-webkit-scrollbar-thumb{
        background: $primary;
        border-color:$primary-600;
      }

      .fsc-calendar-display{
        color: $fontColor;
        border-color: $primary-800;
        &.fsc-active{
          background-color: $primary;
          color: $white;
          &.fsc-visible{
            background-color: $primary-800;
            &:hover{
              background-color: $primary-800;
            }
          }
        }
        &.fsc-visible{
          background-color: $tertiary-200;
          &:hover{
            background-color: $tertiary-200;
          }
        }
        &:hover{
          background-color: $tertiary-300;
        }
        .fsc-calendar-actions{
          border-color: $primary-800;
        }
        .fsc-animated-clock{
          svg{
            path{
              fill: $success-400;
              stroke: $success-400;
            }
          }
        }
      }
    }

    //Note List Styling
    .fsc-side-drawer{
      background-color: $primary-100;
      border-color: $primary-900;

      h2{
        border-bottom-color: $secondary;
      }
      .fsc-note-list{
        scrollbar-color: $primary $primary-600;
        &::-webkit-scrollbar-thumb{
          background: $primary;
          border-color:$primary-600;
        }
        .fsc-note{
          border-color: $primary-200;
          &:hover {
            background-color: $primary-300;
          }
          &.fsc-drag-active{
            background-color: $primary-300;
          }

          .fsc-note-details-wrapper{
            .fsc-note-details{
              .fsc-note-category{
                box-shadow: 1px 1px 5px $fontColor;

                &.fsc-player-visible{
                  background-color: $success-400;
                  border-color: $success-400;
                }
                &.fsc-not-player-visible{
                  background-color: $danger-400;
                  border-color: $danger-400;
                }
                &.fsc-reminder{
                  background-color: $tertiary-200;
                  border-color: $tertiary-200;
                }
              }
            }
          }

          .fsc-sorting-dragger{
            border-color: $gray-500;
            background-color: $gray-500;
            box-shadow: 1px 1px 5px $fontColor;
          }
        }
      }
    }

    //Note Search Styling
    .fsc-search-box{
      .fsc-control{
        box-shadow: unset;
        background-color: $gray-400;
        border-color: #7a7971;
        color:$fontColor;
        &:hover, &.active, &:focus {
          text-shadow: unset;
          color: $fontColor;
          background-color: $gray-400;
          border-color: #7a7971;
        }
      }
    }

    //Categories
    .fsc-note-category, label.fsc-note-category, .form-fields .fsc-note-category{
      color: $fontColor;
      border-color: $gray-500;
      background-color: $gray-500;
    }

    //Configuration Styling
    .fsc-configuration-wrapper{
      .tabs{
        scrollbar-color: $primary $primary-600;
        &::-webkit-scrollbar-thumb{
          background: $primary;
          border-color:$primary-600;
        }
        .fsc-heading{
          color: $primary-600;
          border-top-color: $primary-200;
          border-bottom-color: $gray-500;
        }
        .fsc-tab-section{
          &.fsc-stripe{
            background-color: $primary-100;
          }
          .fsc-calendar-selector{
            ul{
              box-shadow: 1px 1px 5px #000000;
              li{
                background-color: $primary-200;
                border-color: $primary-400;

                &.fsc-active,&:hover{
                  background-color: $primary-A400;
                  color: $fontColor;
                }
                &.fsc-new-calendar{
                  color: $success-900;
                  &.fsc-active,&:hover{
                    color: $fontColor;
                  }
                }
              }
            }
          }
        }
        .fsc-item{
          border-color: $gray-500;

          &.fsc-active, &.active, &:hover{
            background-color: $tertiary;
            color: $white;
          }
        }
      }
      .fsc-tab-wrapper{
        scrollbar-color: $primary $primary-600;
        &::-webkit-scrollbar-thumb{
          background: $primary;
          border-color:$primary-600;
        }
        h2{
          border-color: $tertiary;
        }

        .fsc-warning{
          background-color: $secondary-A500;
          border-color: $secondary;
          color: $fontColor;
        }
        .fsc-section{
          h3{
            color: $primary-A200;
          }
        }
        .fsc-f-table{
          background-color: $primary-100;
          border-color: $gray-500;
          .fsc-row{
            &.fsc-head{
              border-color: $gray-500;
            }
            &:nth-child(even) {
              background-color: rgba($primary-1000,0.1);
            }
            .fsc-options{
              h3{
                border-color: $tertiary;
              }
            }
          }
        }
        .fsc-import-export{
          .fsc-importing{
            .fsc-progress{
              background-color: $gray-300;
              border-color: $gray-500;
              .fsc-progress-bar{
                background-color: $tertiary-300;
              }
            }
          }
        }
        .fsc-quick-setup{
          .fsc-predefined-list{
            .fsc-predefined-calendar{
              color: $primary-1000;
              border-color: $primary-950;
              box-shadow: inset 0 0 5px $primary-400;
              &.fsc-selected, &:hover{
                border-color: $primary-400;
                background-color: $primary-950;
                color: $white;
                box-shadow: inset 0 0 5px $primary-400;
              }
            }
          }
        }
        .fsc-permissions{
          .fsc-table-header{
            border-color: $gray-600;
          }
        }
        .fsc-about{
          h1{
            border-color: $primary;
          }
          .fsc-row{
            .fsc-card{
              border-color: $primary-400;
              background-color: $primary-100;
            }
          }
        }
      }
    }

    //Form Groups
    .form-group{
      border-color:$gray-600;
      background-color: $primary-100;
      &:hover{
        background-color: $primary-150;
      }
      label{
        color: $tertiary-A500;
      }
      .notes{
        color: $primary-1100;
      }
      input, select{
        background-color: $gray-400;
        color: $fontColor;
        &:focus{
          box-shadow: unset;
        }
      }
    }

    //Journal Sheet
    &.journal-sheet{
      h1, h2{
        border-color: $secondary;
      }
      a.entity-link, a.content-link, a.inline-roll{
        background-color: $primary-100;
        border-color: $primary-700;
        i {
          color: $tertiary;
        }
        &:hover{
          i{
            color:$tertiary-400;
          }
        }
      }
      .fsc-content{
        scrollbar-color: $primary $primary-600;
        &::-webkit-scrollbar-thumb{
          background: $primary;
          border-color:$primary-600;
        }
      }
    }
  }
}