@import "../variables";

.fsc-editor-container{
  .prosemirror{
    --color-control-bg: #{$primary-150};
    --color-hover-bg: #{$primary-100};

    menu{
      background-color: $primary-50;
    }

    .editor-content{
      scrollbar-color: $primary $primary-600;
      &::-webkit-scrollbar-thumb{
        background: $primary;
        border-color:$primary-600;
      }
    }
  }
}