.note-list{
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid grey;
}

.note{
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #cacaca47;

  .note-details-wrapper{
    display: block;
    .note-title{
      margin: 0 0 0.5rem;
      font-size: 1.25rem;
    }

    .note-details{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .note-time{
        background-color: #444141;
        color: #ffffff;
      }

      .note-category{
        font-size: 0.625rem;
        border-radius: 7px;
        padding: .2rem .4rem;
        margin-right: 5px;
        margin-bottom: 5px;
        box-shadow: 1px 2px 5px #6b6b6b;

        span{
          margin-right: 0.15rem;
        }
      }

      .note-icon{
        span{
          margin-right: 0;
        }
      }
    }

  }

  .sorting-dragger{
    padding: 0.5rem;
    margin: auto 0;
    background-color: #c3c3c37a;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #a5a5a5;
    cursor: move;
  }

  &:nth-child(odd){
    background-color: #ffffff59;
  }

  &:hover {
    background-color: #cbe0ff70;
    cursor: pointer;
  }

  &.drag-active{
    background-color: #cbe0ff70;
    .note-details-wrapper{
      visibility: hidden;
    }
  }
}

.compact-calendar{
  margin: -8px;

  .season-moon-info{
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: .15rem 0.25rem;
    background-color: #fff;
    border-bottom: 1px solid #717171;
    margin-bottom: 0.15rem;

    .notes-wrapper{
      display: flex;
      flex-direction: row;
      z-index: 1;
      .notes{
        font-size: 0.75rem;
        padding: 1px 5px;
        white-space: nowrap;

        &.none{
          background-color: #6b6b6b;
          border-color: #6b6b6b;
          &:hover{
            color: #ffffff;
          }
        }
        &:before{
          font-size: 0.6rem;
        }
      }
      .add-note{
        font-size: 0.6rem;
        padding: 1px 5px;
        margin-left: 5px;
        &:before{
          padding: 0;
        }
      }
    }

    .season{
      font-size: 0.75rem;
      font-style: italic;
      font-weight: 600;
      text-align: center;
      position: absolute;
      top: 4px;
      left: 0;
      right: 0;
      z-index: 0;
    }

    .moons{
      display: flex;
      flex-direction: row;
      margin-top: 4px;
      z-index: 1;

      .moon-phase{
        width: 12px;
        height: 12px;
        margin-right: 2px;
        svg{
          width: 20px;
          height: 20px;
          margin-top: -3px;
        }
      }
    }

  }

  .current-date{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 0.15rem;

    .prev, .next{
      font-size: 1rem;
      margin: 1px 8px 0;
    }

    .date{
      font-size: 1rem;
      white-space: nowrap;
      margin: 0 auto;
    }
  }

  .current-time{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 0.15rem;

    .clock{
      transform: scale(0.75);
    }

    .time{
      margin-top: 3px;
    }

    .time-controls{
      margin-left: 8px;
      .time-start{
        margin: 0 8px 0 0px;
        line-height: 22px;
        font-size: 0.75rem;

        &.started{
          color: #de810d;
        }
        &.paused{
          color: green;
        }
      }
      .time-stop{
        line-height: 22px;
        font-size: 0.75rem;
        color: #c12121;
        &.stopped{
          color: #6e6c6c
        }
      }
    }
  }

  .time-controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 0.15rem;

    .selector{
      font-size: 0.75rem;
      border-top: 1px solid #384582;
      border-bottom: 1px solid #384582;
      border-right: 1px solid black;
      padding: 0.1rem 0.5rem;
      color: #ffffff;
      background-color: #384582;
      cursor: pointer;

      &:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-left: 1px solid #384582;
      }
      &:last-child{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right-color: #384582;
      }

      &:hover{
        color: #000000;
        background-color: #cad1f3;
      }
    }
  }

  .note-list{
    border-top: 1px solid #999999;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    margin-top: 6px;

    .note{
      border-left-width: 0;
      border-right-width: 0;
      font-size: 0.75rem;
      padding: .15rem .3rem;
    }
  }
}

@keyframes dial {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.search-box{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;

  input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
  }
  .control{
    width: 35px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
  }
}
