
.calendar-row{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.calendar {
  background-color: white;
  border: 1px solid #c3c3c3;
  box-shadow: 2px 2px 2px #c3c3c3;
  padding: 0 5px 5px;
  margin: 0 0 1rem;
  max-height: 500px;
  overflow-y: auto;
  position: relative;

  .calendar-header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 5px 0;

    .current-date{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1.25rem;
      margin-bottom: 10px;

      a:first-child{
        margin: 2px 5px 0;
      }

      a:last-child{
        margin: 2px 5px 0;
      }

    }

    .season{
      text-align: center;
      margin-bottom: 10px;
      font-size: 12px;
      font-style: italic;
      font-weight: 600;
      margin-top: -8px;
    }

    .weekdays{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;

      .weekday{
        width: 40px;
        text-align: center;
        font-weight: 600;
      }
    }
  }

  .days{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

    .week{
      display: flex;
      flex-direction: row;

      .empty-day{
        width: 40px;
        height: 40px;
        text-align: center;
        padding-top: 12px;
      }

      .day{
        position: relative;
        width: 40px;
        height: 40px;
        text-align: center;
        padding-top: 12px;
        border-radius: 20px;
        cursor: pointer;

        &:hover{
          background-color: #ddd;
        }

        &.current{
          box-shadow: inset 0 0 5px #5c5cff;
          background-color: #d2d2ff;
          &:hover{
            background-color: #5c5cff;
          }
        }

        &.selected{
          box-shadow: inset 0 0 5px #40a94d;
          background-color: #eafff2;
          &:hover{
            background-color: #40a94d;
          }
        }

        .note-count{
          position: absolute;
          top: 0;
          right: 0;
          background-color: #c30505;
          color: #ffffff;
          width: 16px;
          height: 16px;
          font-size: 12px;
          padding: 1px 1px 1px 2px;
          border-radius: 8px;
        }

        .moons{
          position: absolute;
          right: 2px;
          display: flex;
          flex-direction: row;

          .moon-phase{
            width: 10px;
            height: 10px;
            background-size: contain;
            margin-right: 2px;
            margin-bottom: 2px;
            border-radius: 5px;

            &.new{
              background-image: url("../icons/new.svg") ;
            }
            &.waxing-crescent{
              background-image: url("../icons/waxing-crescent.svg") ;
            }
            &.first-quarter{
              background-image: url("../icons/first-quarter.svg") ;
            }
            &.waxing-gibbous{
              background-image: url("../icons/waxing-gibbous.svg") ;
            }
            &.full{
              background-image: url("../icons/full.svg") ;
            }
            &.waning-gibbous{
              background-image: url("../icons/waning-gibbous.svg");
            }
            &.last-quarter{
              background-image: url("../icons/last-quarter.svg") ;
            }
            &.waning-crescent{
              background-image: url("../icons/waning-crescent.svg") ;
            }

          }
        }

      }
    }
  }
}

.time-display{
  text-align: center;
  font-size: 1.25rem;
  margin: -1rem 0 1rem;
  background-color: #fff;
  border-top: 0;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  box-shadow: 2px 2px 2px #c3c3c3;
  padding: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;

  .clock {
    position:relative;
    transform:scale(1.25);
    border-radius:50%;
    border:2px solid;
    width:20px;
    height:20px;
    margin-top: 2px;
    margin-right: 8px;

    &:after {
      position:absolute;
      width:0px;
      height:6px;
      display:block;
      border-left:1px solid #000;
      content:'';
      left: 8.25px;
      top: 1.75px;
      animation-duration: 1s;
    }

    &:before {
      position:absolute;
      width:0px;
      height:4px;
      display:block;
      border-left:1px solid #000;
      content:'';
      left: 8.25px;
      top: 3.75px;
      animation-duration: 60s;
    }
    &.stopped{
      border-color:#c12121;
      &:before, &:after{
        border-color:#c12121;
      }
    }
    &.paused{
      border-color:#de810d;
      &:before, &:after{
        border-color:#de810d;
      }
    }
    &.go{
      &:before, &:after{
        border-color: green;
        transform-origin: bottom;
        animation-name: dial;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      border-color: green;
    }
  }
}

.calendar-controls{
  display: flex;
  flex-direction: row;
  margin: -0.5rem auto 0.5rem;

  .spacer{
    flex: 1;
    margin: 0 0.25rem;
  }
}

.note{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.25rem 0.5rem;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid grey;

  .note-title{
    flex: 1;
    margin: 0;
  }

  .note-author{
    color: #464646;
    margin: 0;
  }

  &:nth-child(2){
    border-top: 1px solid gray;
  }

  &:hover {
    background-color: #cad1f3;
    cursor: pointer;
  }
}

@keyframes dial {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
