#simpleCalendarConfiguration{
  .tabs{
    line-height: 32px;
    font-size: 16px;
    border-bottom: 1px solid #782e22;
    margin-bottom: 1rem;
  }

  .center{
    text-align: center;
  }

  .table-actions{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    .spacer{
      flex: 1 1;
    }
    .remove-month, .month-add{
      width: 200px;
    }
  }

}
