#simpleCalendarConfiguration{
  form{
    height: 100%;
    margin-bottom: 50px;
  }
  .tabs{
    line-height: 32px;
    font-size: 16px;
    border-bottom: 1px solid #782e22;

    .item{
      border: 1px solid transparent;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      &.active{
        border-top-color: #782e22;
        border-left-color: #782e22;
        border-right-color: #782e22;
        border-bottom-color: #fafafa;
        margin-bottom: -1px;

        background-color: #fafafa;
      }
      &:hover{
        border-top-color: #782e22;
        border-left-color: #782e22;
        border-right-color: #782e22;
      }
    }
  }

  .tab{
    border-bottom: 1px solid #782e22;
    border-left: 1px solid #782e22;
    border-right: 1px solid #782e22;
    background-color:#fafafa;
    color:#000000;
    padding-top: 1rem;
  }

  .center{
    text-align: center;
  }

  .settings-group{
    margin: 0.75rem 2rem;

    &:first-child{
      margin-top: 0;
    }

    h2{
      a{
        color: #191813;
        font-size: 0.85rem;
        text-decoration: none;
        margin-left: 5px;
      }
    }
    .form-group{
      margin: 0.75rem 0;
      border-bottom: 1px solid #9e9c9c;
      &:last-child{
        border-width: 0;
      }

      .notes{
        margin: 0.5rem 0;
        color:#191813;
      }

      button{
        max-width: 200px;
        margin: 0.5rem auto;
      }
    }

    .import-group{
      margin: 0.75rem 0;
      padding: 0.5rem;
      box-shadow: 2px 2px 4px grey;
      border: 1px solid grey;

      h3{
        margin-left: 0;
        margin-right: 0;
      }

      .import-options{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .control{
          width: auto;
          &:before{
            margin-right: 5px;
          }
        }
      }
    }

    .f-table{
      border-top: 0;
      border-left: 1px solid #7a7971;
      border-right: 1px solid #7a7971;
      margin-top: -0.5rem;
    }
  }

  .f-table{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #7a7971;
    border-bottom: 1px solid #7a7971;
    margin-bottom: 1rem;

    .row{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 0.25rem 0;

      &.head{
        font-weight: 600;
        text-align: center;
        border-bottom: 1px solid #adadad;

        .month-name, .month-days{
          line-height: 35px;
        }
      }

      &:nth-child(odd) {
        background-color: #b1b1b133;
      }

      .month-name, .month-days{
        width: 140px;
      }
      .month-intercalary, .month-number{
        width: 60px;
        text-align: center;
      }
      .remove-month{
        width: 100px;
      }
      .hidden{
        display: none;
      }
      .options{
        flex: 1 1 100%;
        padding: .25rem 2rem;
        border-bottom: 1px solid #adadad;
        .form-fields{
          flex: 1;
        }

        h3{
          margin-top: 0.5rem;
          border-bottom: 1px solid #782e22;
          font-weight: 600;
        }
      }
    }
  }

  .table-actions{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    .spacer{
      flex: 1 1;
    }
    button{
      width: 200px;
    }
  }

  .config-save{
    position: absolute;
    text-align: center;
    width: 100%;
    backdrop-filter: blur(2px);
    left: 0;
    bottom: 0;
    height: 30px;
    border-top: 1px solid #b5b5b5;

    #scSubmit{
      width: 50%;
      margin-top: 3px;
    }
  }

}
