.date-notes {
  margin-top: 1rem;

  .control{
    &.add-note{
      width: unset;
      float: right;
      background: #2f581d;
      color: #fff;
      cursor: pointer;
      &:hover{
        color: #000;
        background-color: #9bce85;
      }
    }
  }
}
