.sc-date-selector{
  position: relative;
}

.sc-date-selector-calendar-wrapper{
  position: absolute;
  z-index: 100;
  background-color: white;
  border: 1px solid #c3c3c3;
  box-shadow: 2px 2px 2px #c3c3c3;

  &.just-time{
    overflow-y: visible;
    padding: 0 0.5rem;
  }

  &.left-down{
    left: 0;
    top: 26px;
  }
  &.left-up{
    left: 0;
    bottom: 26px;
  }
  &.right-down{
    right: 0;
    top: 26px;
  }
  &.right-up{
    right: 0;
    bottom: 26px;
  }


  .sc-date-selector-calendar{
    border: unset;
    box-shadow: unset;

    .days {
      .week {
        .day {
          &.selected{
            box-shadow: inset 0 0 5px #696969;
            background-color: #d0d0d0;
            &:hover{
              background-color: #696969;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}


