.date-notes {
  margin-top: 1rem;

  .date-notes-header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid #782e22;
    margin-bottom: 0.5rem;

    h2{
      border-bottom-width: 0;
      margin-bottom: 0;
      white-space: nowrap;
    }

    button{
      width: unset;
      white-space: nowrap;
      margin-left: 1rem;
    }
  }
}
