.control{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:before{
    padding-right: 5px;
  }

  &.previous{
    span:last-of-type{
      padding-right: 5px;
    }
    span.shift-back{
      margin-right: -1.25px
    }
  }
  &.next{
    span:first-of-type{
      padding-left: 5px;
    }
    span.shift-back{
      margin-left: -1.25px
    }
  }
}

.controls {
  width: 275px;
  margin: 0 0 1rem 1rem;

  .time-controls{
    padding: 0.5rem;
    box-shadow: 2px 2px 5px #b9b9b9;
    margin-bottom: 0.5rem;
    background-color: #fff;
    color: #191813;
    .row{
      display: flex;
      flex-direction: row;
      justify-content: center;

      .time-unit{
        display: flex;
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 5px;
        .selector{
          padding: .15rem .5rem;
          border-right: 1px solid black;
          line-height: 1rem;
          cursor: pointer;

          &:first-child{
            border-radius: 4px 0 0 4px;
          }
          &:last-child{
            border-right-width: 0;
            border-radius: 0 4px 4px 0;
          }
          &.selected{
            background-color: #603382;
            color:#ffffff;
          }
          &:hover{
            background-color: #cd9cf3;
          }
        }
      }
      .time-start{
        margin: 0 10px;
        line-height: 22px;

        &.started{
          color: #de810d;
        }
        &.paused{
          color: green;
        }
      }
      .time-stop{
        line-height: 22px;
        color: #c12121;
        &.stopped{
          color: #6e6c6c
        }
      }
      &.time-amount{
        margin-bottom: 0.5rem;
        .control{
          margin: 0 8px;
        }
      }
      &.time-day{
        .control{
          margin: 0 4px;
        }
      }
    }
  }

  .date-controls{
    padding: 0.5rem;
    box-shadow: 2px 2px 5px #b9b9b9;
    margin-bottom: 0.5rem;
    background-color: #fff;
    color: #191813;

    .control-group{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #b9b9b9;
      margin-bottom: 8px;
      padding-bottom: 8px;

      &:last-child{
        border-bottom-width: 0;
        padding-bottom: 0;
      }

      .control-name{
        font-weight: 600;
        line-height: 1.25rem;
        font-size: 1.25rem;
        margin: 0 0.75rem;
      }
    }
  }

  .date-apply-wrapper{
    padding: 0 .5rem .5rem;
    box-shadow: 2px 5px 5px #b9b9b9;
    margin-bottom: .5rem;
    background-color: #fff;
    margin-top: -0.5rem;
  }
}
