.control{
  &.previous{
    span:last-child{
      padding-right: 5px;
    }
    span.shift-back{
      margin-right: -1.25px
    }
  }
  &.next{
    span:first-child{
      padding-left: 5px;
    }
    span.shift-back{
      margin-left: -1.25px
    }
  }
}

.controls{
  background-color: #fff;
  border: 1px solid #c3c3c3;
  box-shadow: 2px 2px 2px #c3c3c3;
  padding: 5px;
  width: 275px;
  margin: 0 0 1rem 1rem;
  .control-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #b9b9b9;
    margin-bottom: 10px;
    padding-top: 5px;

    .control-name{
      font-weight: 600;
      line-height: 1.25rem;
      font-size: 1.25rem;
    }
  }
}
