#simpleCalendarNotes{
  .editor{
    min-width: 500px;
    .editor-content{
      min-height: 200px;
    }
  }

  .note-repeat{
    float: right;
    font-size: 12px;
  }

  .note-author{
    text-align: right;
    color: #383838;
    font-size: 12px;
  }
  .edit-controls{
    display: flex;
    justify-content: space-around;
  }
}
