@import "../../variables";

// All control button colors
.fsc-control{
  border-image: unset !important;
  background-image: unset !important;

  &.fsc-grey{
    border-color: $gray-500;
    background-color: $gray-500;
    color: $fontColor;
    &:hover, &.active, &:focus {
      text-shadow: unset;
      background-color: $gray-400;
      border-color: $gray-700;
      color: $fontColor;
    }
    &:disabled{
      color: $gray-700;
      cursor: not-allowed;
    }
  }
  &.fsc-primary {
    background-color: $primary-A200;
    border-color: $primary-A200;
    color: $fontColor;

    &:hover, &.active, &:focus {
      background-color: $primary-A100;
      border-color: $primary-A100;
      color: $fontColor;
    }
    &:disabled{
      background-color: $primary-T200;
      border-color: $primary-T200;
      color: $fontColor;
      cursor: not-allowed;
    }
  }
  &.fsc-secondary {
    background-color: $secondary-400;
    border-color: $secondary-400;
    color: $fontColor;

    &:hover, &.active, &:focus {
      background-color: $secondary-300;
      border-color: $secondary-300;
      color: $fontColor;
    }
    &:disabled{
      background-color: $secondary-T400;
      border-color: $secondary-T400;
      color: $fontColor;
      cursor: not-allowed;
    }
  }
  &.fsc-tertiary{
    background-color: $tertiary-A100;
    border-color: $tertiary-A100;
    color: $fontColor;

    &:hover, &.active, &:focus {
      background-color: $tertiary-A200;
      border-color: $tertiary-A200;
      color: $fontColor;
    }
    &:disabled{
      background-color: $tertiary-T100;
      border-color: $tertiary-T100;
      color: $fontColor;
      cursor: not-allowed;
    }
  }
  &.fsc-delete {
    background-color: $danger-A500;
    border-color: $danger-A500;
    color: $fontColor;

    &:hover, &.active, &:focus {
      background-color: $danger-A400;
      border-color: $danger-A400;
      color: $fontColor;
    }
    &:disabled{
      background-color: $danger-T400;
      border-color: $danger-T400;
      color: $fontColor;
      cursor: not-allowed;
    }
  }
  &.fsc-save {
    background-color: $success-400;
    border-color: $success-400;
    color: $fontColor;

    &:hover, &.active, &:focus {
      background-color: $success-300;
      border-color: $success-300;
      color: $fontColor;
    }
    &:disabled{
      background-color: $success-T400;
      border-color: $success-T400;
      color: $fontColor;
      cursor: not-allowed;
    }
  }
}
.fsc-control-group{
  .fsc-control{
    border-right-color: $gray-700;
    &:first-child{
      border-left-color: $gray-500;
    }
    &:last-child{
      border-right-color: $gray-500;
    }

    &.fsc-primary{
      border-right-color: $primary-400;
      &:first-child{
        border-left-color: $primary-A200;
      }
      &:last-child{
        border-right-color: $primary-A200;
      }
    }
    &.fsc-secondary{
      border-right-color: $secondary-800;
      &:first-child{
        border-left-color: $secondary-300;
      }
      &:last-child{
        border-right-color: $secondary-300;
      }
    }
    &.fsc-tertiary{
      border-right-color: $tertiary-400;
      &:first-child{
        border-left-color: $tertiary-A200;
      }
      &:last-child{
        border-right-color: $tertiary-A200;
      }
    }
    &.fsc-delete{
      border-right-color: $danger-800;
      &:first-child{
        border-left-color: $danger-A500;
      }
      &:last-child{
        border-right-color: $danger-A500;
      }
    }
    &.fsc-save{
      border-right-color: $success-800;
      &:first-child{
        border-left-color: $success-400;
      }
      &:last-child{
        border-right-color: $success-400;
      }
    }
  }
}
.fsc-controls.fsc-unit-controls{
  .fsc-control-group{
    .fsc-unit-list{
      background-color: $primary-A200;
      border-color: $primary-A400;
      color: $fontColor;

      li{
        border-color: $primary-A400;
        &.fsc-selected, &:hover{
          background-color: $primary-A100;
        }
      }
    }
  }
}