@import "../../variables";

.fsc-context-menu{
  &::before{
    background-color: $secondary-800;
  }
  border-color: $secondary-800;
  background-color: rgba(255,255,255,0.95);
  .fsc-day-context-list{
    .fsc-context-list-action, .fsc-context-list-expand{
      &:hover, &:focus, &:active{
        color: $primary-A500;
        .fsc-context-list-sub-menu{
          color: $fontColor;
        }
      }
    }
    .fsc-context-list-break{
      border-color: $gray-500;
    }
    .fsc-context-list-sub-menu{
      border-color: $secondary-800;
      background-color: rgba(255,255,255,0.95);
    }
  }
}