@import "../../variables";
.window-content{
  form{
    .fsc-tab-wrapper{
      //Form Groups
      .form-group{
        border-color:$gray-600;
        background-color: $primary-100;
        &:hover{
          background-color: $primary-150;
        }
        &.fsc-disabled{
          &:hover{
            background-color: $primary-100;
          }
        }
        label{
          color: $tertiary-A500;
        }
        .notes{
          color: $primary-1100;
        }
        input, select{
          background-color: $gray-400;
          color: $fontColor;
          &:focus{
            box-shadow: unset;
          }
        }
      }
    }
    .fsc-compact-form-group{
      border-color:$gray-600;
      background-color: $primary-150;

      > input, > select, > button {
        background-color: unset !important;
      }
      > .fsc-date-selector{
        > input{
          background-color: unset !important;
        }
      }
      > .fsc-multiselect{
        > button{
          background-color: unset !important;
        }
      }
      option{
        background-color: $primary-100 !important;
      }
      button{
        color: $fontColor;
      }
      label{
        color: $tertiary-700;
      }
      .file-picker{
        cursor: pointer;
        background-color: $primary-A200 !important;
        border-color: $primary-A200;
        color: $fontColor;

        &:hover, &.active, &:focus {
          box-shadow: unset;
          background-color: $primary-A100 !important;
          border-color: $primary-A100;
          color: $fontColor;
        }
      }
      .fsc-form-group-help{
        color: $success-900;
      }
    }
  }
}