@import "../../variables";

&.fsc-compact-view{
  .fsc-clock{
    background-color: $primary-50;
  }
  .fsc-moons{
    .fsc-moon-group-wrapper {
      .fa{
        text-shadow: -2px -1px 0px $white;
      }
      .fsc-moon-group {
        background-color: $primary-200;
        border-color: $primary-600!important;
        box-shadow: 1px 1px 5px $boxShadowColor;
      }
    }
  }
  .fsc-time-keeper-buttons{
    .fsc-save{
      color: $success-900;
    }
    .fsc-secondary{
      color: $secondary;
      &:hover{
        color: $secondary;
      }
    }
    .fsc-delete{
      color: $danger-900;
    }
  }
}