@import "../../variables";

//Top message Styling
.fsc-message{
  &.fsc-warn{
    background-color: $secondary-100;
    border-color: $secondary !important;
  }
  &.fsc-success{
    background-color: $success-100;
    border-color: $success !important;
  }
  &.fsc-info{
    background-color: $primary-100;
    border-color: $primary !important;
  }
  &.fsc-danger{
    background-color: $danger-100;
    border-color: $danger!important;
  }
}