@import "../../variables";

//Journal Sheet
&.journal-sheet{
  .window-content{
    box-shadow: unset;
  }
  form{
    @include scrollbar($primary, $primary-600);
  }
  h1, h2{
    border-color: $secondary;
  }
  a.entity-link, a.content-link, a.inline-roll{
    background-color: $primary-100;
    border-color: $primary-700;
    i {
      color: $tertiary;
    }
    &:hover{
      i{
        color:$tertiary-400;
      }
    }
  }
  .fsc-content{
    @include scrollbar($primary, $primary-600);
  }
  .fsc-page-list{
    border-color: $primary-A500;
    .fsc-page-list-controls{
      .fsc-search-box{
        .fsc-control{
          background-color: unset;
        }
      }
    }
    .fsc-list-of-pages{
      @include scrollbar($primary, $primary-600);
      li{
        &:hover, &.fsc-current{
          background-color: $primary-200;
        }
      }
    }
  }
  .fsc-image-placeholder{
    background-color: $gray-400;
    i{
      opacity: 0.5;
    }
  }
}