@import "../../variables";

//Note Search Styling
.fsc-search-box{
  input{
    color:$fontColor;
    &::placeholder{
      color: $gray-800;
    }
  }
  .fsc-control{
    box-shadow: unset;
    background-color: $gray-400;
    border-color: #7a7971;
    color:$fontColor;
    &:hover, &.active, &:focus {
      text-shadow: unset;
      color: $fontColor;
      background-color: $gray-400;
      border-color: #7a7971;
    }
  }
}