@import "../../variables";

//Toggle
input[type=checkbox].fsc-toggle{
  border-color: $gray-900 !important;
  background-image: url($checkboxSVGDark);

  &:checked{
    background-color: $tertiary-A500 !important;
    background-image: url($checkboxSVGWhite);
    -webkit-filter: unset;
  }
}