@import "../../variables";

.form-group {
  background-color: $wfrpBlackBackground;
  border-color: $wfrpBorderColor;

  input, select {
    border: 1px solid $wfrpBorderColor;
    box-shadow: 0 0 10px inset black;
  }
  label {
    border: unset;
    color: #ccc6c6;
  }

  &:hover {
    background-color: $wfrpBlackBackground;
  }

  .notes {
    color: #BBB;
  }
}
.fsc-compact-form-group{
  background-color: $wfrpInputBackground;
  border-color: #736953a6;
  box-shadow: 0 0 10px inset black;
  color: $wfrpInputTextColor;

  > input, > select, > button {
    background-color: unset !important;
    border: 0;
    color: $wfrpInputTextColor;

    &:focus{
      box-shadow: 0 0 5px #ff9f00 !important;
    }
  }
  > input[type="checkbox"]{
    border: 1px solid;
  }
  > .fsc-date-selector{
    > input{
      background-color: unset !important;
      color: $wfrpInputTextColor;
      border: 0 !important;
      &:focus{
        box-shadow: unset !important;
      }
    }
  }
  > .fsc-multiselect{
    > button{
      background-color: unset !important;
      color: $wfrpInputTextColor;
    }
  }
  option{
    background-color: $wfrpInputBackground !important;
  }
  label{
    color: #ff9f00;
  }
  .fsc-form-group-actions{
    border-color: #736953a6;
  }
  .file-picker{
    background-repeat: no-repeat;
    background-size: cover;
    &:hover, &.active, &:focus {
      box-shadow: unset;
    }
  }
  .fsc-form-group-help{
    color: var(--color-text-hyperlink);
  }
}