@import "../../variables";

.fsc-note-list {
  .fsc-note {
    border: 3px double #00165878;
    margin-left: 3px;
    margin-bottom: 3px;

    &:hover {
      background-color: #00000026;
    }

    &.fsc-drag-active {
      background-color: #00000026;
    }

    .fsc-note-details-wrapper {
      .fsc-note-details {
        .fsc-note-category {
          box-shadow: 1px 1px 5px #6b6b6b;
          color: #ffffff;

          &.fsc-secondary{
            background-color: #daa32a;
            border-color: #daa32a;
            color: $fontColor;
          }
          &.fsc-success{
            background-color: #185c45;
            border-color: #185c45;
          }
          &.fsc-danger{
            background-color: #91292e;
            border-color: #91292e;
          }

          &.fsc-reminder {
            background-color: #5f3179;
            border-color: #5f3179;
          }
        }
      }
    }

    .fsc-sorting-dragger {
      border-color: #a5a5a5;
      background-color: #c3c3c37a;
      box-shadow: 1px 1px 5px #a5a5a5;
    }
  }
}