@import "../../variables";

//Note Search Styling
.fsc-search-box {
  input{
    border-image: url($wfrpFooterButton) 10 / 4px 0 4px 4px / 0 repeat !important;
    height: 28px;
    background-color: $wfrpInputBackground;
    color: $wfrpInputTextColor;

    &:focus{
      box-shadow: unset!important;
    }
  }
  .fsc-control {
    height: 28px;
    border-image-width: 4px 4px 4px 0 !important;
    box-shadow: unset!important;
    background-color: $wfrpInputBackground !important;


    &.fsc-clear{
      border-image-width: 4px 0 !important;
    }
    &:hover, &.active, &:focus {
      box-shadow: unset!important;
      color: $wfrpInputTextColor;
      filter: unset;
    }
  }
}