@import "../../variables";

//Time Selector Styling
.fsc-time-selector{
  .fsc-ts-inputs{
    background-color: $wfrpInputBackground;
    border-color: rgba(115,105,83,.6509803922);
    box-shadow: 0 0 10px inset black;
    input{
      border: 0 !important;
      box-shadow: unset !important;
      background-color: unset !important;
    }
    .fsc-dropdown{
      background-color: $wfrpInputBackground;
      li{
        &:nth-child(even){
          background-color: #ffffff26;
        }
        &:hover{
          background-color: #ffffff6b;
        }
      }
    }
  }
}