@import "../../variables";

&:after{
  content: unset;
}

//Dialog Header
header.window-header{
  background: $primary-1000;
  color: $white;
  font-size: 1rem;
  border: 0;
  border-image: unset;
  flex: 0 0 30px;
  padding: 0 8px;
  margin: 0;
  position: unset;
  min-height: unset;
  height: unset;

  .window-title{
    margin: 0;
    border: 0;
    text-align: left;
    box-shadow: unset;
    text-shadow: unset;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: $white;
  }

  a.header-button{
    margin-top: 0!important;
    margin-right: 0;
    color: $white !important;
    font-size: 1rem;
    background: unset;
    height: unset;
    width: unset;
    &:hover, &:active, &:focus{
      color: $secondary !important;
      text-shadow: unset;
      box-shadow: unset;
      i[class^='fa']{
        color: $secondary !important;
      }
    }
    i[class^='fa']{
      margin-right: 3px;
      position: relative;
    }
  }
}
//Scrollbar Styling
.window-content{
  background: $primary-1100 !important;
  color: $white !important;
  border: 0;
  border-image: unset;
  box-shadow: unset;
  @include scrollbar($primary, $primary-600);
}

//Calendar List Styling
.fsc-calendar-list{
  @include scrollbar($primary, $primary-600);

  .fsc-calendar-display{
    color: $white;
    border-color: $primary-A400;
    &.fsc-active{
      background-color: $primary-800;
      &.fsc-visible{
        background-color: $primary-800;
        &:hover{
          background-color: $primary-800;
        }
      }
    }
    &.fsc-visible{
      background-color: $tertiary-600;
      &:hover{
        background-color: $tertiary-600;
      }
    }
    &:hover{
      background-color: $tertiary-400;
    }
    .fsc-calendar-actions{
      border-color: $primary-A400;
    }
    .fsc-animated-clock{
      svg{
        path{
          fill: $success-400;
          stroke: $success-400;
        }
      }
    }
  }
}

//Note List Styling
.fsc-side-drawer{
  background-color: $primary-1000;
  border-color: $primary-1100;

  h2{
    border-bottom-color: $secondary;
  }

  .fsc-info-box{
    border-color: $secondary;
    background-color: #00000040;
    .fsc-info-box-title{
      background-color: $primary-1000;
      border-color: $secondary;
      color:$primary-A200;
    }
    .fsc-info-box-content{
      .fsc-sunrise, .fsc-sunset{
        .fsc-dd-title{
          color: $gray-300;
        }
      }
    }
  }
}

.fsc-day-details{
  @include scrollbar($primary, $primary-600);
}

.window-resizable-handle{
  bottom: -1px;
  right: 0;
}