@import "../../variables";

//Multi Select
.fsc-multiselect{
  .fsc-multi-select-options{
    border-color: $gray-600;
    li{
      background-color: $primary-900;
      &:hover{
        background-color: $primary-400;
      }
      &.fsc-disabled{
        color: $gray-400;
        background-color: $gray-700;
      }
    }
  }
}