@import "../../variables";

.fsc-note-list{
  @include scrollbar($primary, $primary-600);
  .fsc-note{
    border-color: $primary-200;
    &:hover {
      background-color: $primary-800;
    }
    &.fsc-drag-active{
      background-color: $primary-800;
    }

    .fsc-note-details-wrapper{
      .fsc-note-details{
        .fsc-note-category{
          box-shadow: 1px 1px 5px $fontColor;

          &.fsc-player-visible{
            background-color: $success-900;
            border-color: $success-900;
          }
          &.fsc-not-player-visible{
            background-color: $danger-900;
            border-color: $danger-900;
          }
          &.fsc-reminder{
            background-color: $tertiary-300;
            border-color: $tertiary-300;
            color: $fontColor;
          }
        }
      }
    }

    .fsc-sorting-dragger{
      border-color: $gray-600;
      background-color: $gray-600;
      box-shadow: 1px 1px 5px $fontColor;
    }
  }
}