@import "../../variables";

//Time Selector Styling
.fsc-time-selector{
  color: $white;
  .fsc-ts-inputs{
    background-color: $gray-700;
    border-color: $gray-500;
    input{
      color: $white;
      background-color: $gray-700;
      &:hover, &:focus{
        background-color: $gray-600;
      }
    }
    .fsc-dropdown{
      background-color: $gray-700;
      border-color: $gray-700;
      box-shadow: 2px 2px 2px $boxShadowColor;
      @include scrollbar($primary, $primary-600);

      li{
        &:nth-child(even){
          background-color: $gray-600;
        }
        &:hover{
          background-color: $primary-600;
        }
      }
    }
  }
}